<?xml version="1.0"?>
<!--
  Descripción: Archivo de configuración del conector de 
	Enterprise Library v1.0.0
	Autor: Jose Gomez Silva
-->
<CommandDef>
  <Command>
    <BaseDatos>MSSQL</BaseDatos>
    <DbInstance>ConexionBD</DbInstance>
    <Type>CommandType.StoredProcedure</Type>
    <Text>ma.uspConsultaAcreedores</Text>
    <NumberOfParameters>9</NumberOfParameters>
    <ReturnType>procedure</ReturnType>
    <CommandTimeout>6000</CommandTimeout>
  </Command>
  <Parameters>

    <Parameter>
      <Name>@pTipoAcreedor</Name>
      <VariableMapeo>Lstr_TipoAcreedor</VariableMapeo>
      <Type>String</Type>
      <Size>50</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pPais</Name>
      <VariableMapeo>Lstr_Pais</VariableMapeo>
      <Type>String</Type>
      <Size>3</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pNroAcreedor</Name>
      <VariableMapeo>Lint_NroAcreedor</VariableMapeo>
      <Type>String</Type>
      <Size>14</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    
	<Parameter>
      <Name>@pNomAcreedor</Name>
      <VariableMapeo>Lstr_NomAcreedor</VariableMapeo>
      <Type>String</Type>
      <Size>100</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
	
	<Parameter>
      <Name>@pFechaInicio</Name>
      <VariableMapeo>Ldt_FechaInicio</VariableMapeo>
      <Type>Datetime</Type>
      <Size>20</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

	<Parameter>
      <Name>@pFechaFin</Name>
      <VariableMapeo>Ldt_FechaFin</VariableMapeo>
      <Type>Datetime</Type>
      <Size>20</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pEstado</Name>
      <VariableMapeo>Lstr_Estado</VariableMapeo>
      <Type>String</Type>
      <Size>5</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    
    <Parameter>
      <Name>@pResultado</Name>
      <Type>String</Type>
      <Size>2</Size>
      <Direction>Output</Direction>
    </Parameter>

    <Parameter>
      <Name>@pMensaje</Name>
      <Type>String</Type>
      <Size>500</Size>
      <Direction>Output</Direction>
    </Parameter>

  </Parameters>
</CommandDef>
