<?xml version="1.0"?>
<!--
  Descripción: Archivo de configuración del conector de 
	Enterprise Library v1.0.0
	Autor: Jose Gomez Silva
-->
<CommandDef>
  <Command>
    <BaseDatos>MSSQL</BaseDatos>
    <DbInstance>ConexionBD</DbInstance>
    <Type>CommandType.StoredProcedure</Type>
    <Text>ma.uspCrearAcreedor</Text>
    <NumberOfParameters>14</NumberOfParameters>
    <ReturnType>procedure</ReturnType>
    <CommandTimeout>6000</CommandTimeout>
  </Command>
  <Parameters>

    <Parameter>
      <Name>@pNroAcreedor</Name>
      <VariableMapeo>Lint_NroAcreedor</VariableMapeo>
      <Type>Int32</Type>
      <Size>32</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pNomAcreedor</Name>
      <VariableMapeo>Lstr_NomAcreedor</VariableMapeo>
      <Type>String</Type>
      <Size>100</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pAbreviatura</Name>
      <VariableMapeo>Lstr_Abreviatura</VariableMapeo>
      <Type>String</Type>
      <Size>20</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pContacto</Name>
      <VariableMapeo>Lstr_Contacto</VariableMapeo>
      <Type>String</Type>
      <Size>200</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pTelefono</Name>
      <VariableMapeo>Lstr_Telefono</VariableMapeo>
      <Type>String</Type>
      <Size>30</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pDireccion</Name>
      <VariableMapeo>Lstr_Direccion</VariableMapeo>
      <Type>String</Type>
      <Size>300</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pPais</Name>
      <VariableMapeo>Lstr_Pais</VariableMapeo>
      <Type>String</Type>
      <Size>3</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pTipoAcreedor</Name>
      <VariableMapeo>Lstr_TipoAcreedor</VariableMapeo>
      <Type>String</Type>
      <Size>50</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pPaisInstitucion</Name>
      <VariableMapeo>Lstr_PaisInstitucion</VariableMapeo>
      <Type>String</Type>
      <Size>3</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pIdCtaContable</Name>
      <VariableMapeo>Lstr_IdCtaContable</VariableMapeo>
      <Type>String</Type>
      <Size>10</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pEstado</Name>
      <VariableMapeo>Lstr_Estado</VariableMapeo>
      <Type>String</Type>
      <Size>5</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pUsrCreacion</Name>
      <VariableMapeo>Lstr_UsrCreacion</VariableMapeo>
      <Type>String</Type>
      <Size>15</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pResultado</Name>
      <Type>String</Type>
      <Size>2</Size>
      <Direction>Output</Direction>
    </Parameter>

    <Parameter>
      <Name>@pMensaje</Name>
      <Type>String</Type>
      <Size>500</Size>
      <Direction>Output</Direction>
    </Parameter>

  </Parameters>
</CommandDef>
