<?xml version="1.0"?>
<!--
  Descripción: Archivo de configuración del conector de 
	Enterprise Library v1.0.0
	Autor: Jose Gomez Silva
-->
<CommandDef>
  <Command>
    <BaseDatos>MSSQL</BaseDatos>
    <DbInstance>ConexionBD</DbInstance>
    <Type>CommandType.StoredProcedure</Type>
    <Text>cf.uspRegistrarAsientosAjuste</Text>
    <NumberOfParameters>9</NumberOfParameters>
    <ReturnType>procedure</ReturnType>
    <CommandTimeout>6000</CommandTimeout>
  </Command>
  <Parameters>

    <Parameter>
      <Name>@pIdAsiento</Name>
      <VariableMapeo>Lstr_IdAsiento</VariableMapeo>
      <Type>String</Type>
      <Size>20</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pUsrCreacion</Name>
      <VariableMapeo>Lstr_UsrCreacion</VariableMapeo>
      <Type>String</Type>
      <Size>20</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pIdCuenta</Name>
      <VariableMapeo>Lstr_IdCuenta</VariableMapeo>
      <Type>String</Type>
      <Size>20</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pNomCuenta</Name>
      <VariableMapeo>Lstr_NombreCuenta</VariableMapeo>
      <Type>String</Type>
      <Size>200</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    
    <Parameter>
      <Name>@pClaveContable</Name>
      <VariableMapeo>Lstr_ClaveContable</VariableMapeo>
      <Type>String</Type>
      <Size>5</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>

	<Parameter>
      <Name>@pMontoContable</Name>
      <VariableMapeo>Ldec_MontoContable</VariableMapeo>
      <Type>Decimal</Type>
      <Size>20</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
	
    <Parameter>
      <Name>@pMontoDebe</Name>
      <VariableMapeo>Ldec_MontoDebe</VariableMapeo>
      <Type>Decimal</Type>
      <Size>20</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pMontoHaber</Name>
      <VariableMapeo>Ldec_MontoHaber</VariableMapeo>
      <Type>Decimal</Type>
      <Size>20</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pMoneda</Name>
      <VariableMapeo>Lstr_Moneda</VariableMapeo>
      <Type>String</Type>
      <Size>3</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pResultado</Name>
      <Type>String</Type>
      <Size>2</Size>
      <Direction>Output</Direction>
    </Parameter>

    <Parameter>
      <Name>@pMensaje</Name>
      <Type>String</Type>
      <Size>500</Size>
      <Direction>Output</Direction>
    </Parameter>

  </Parameters>
</CommandDef>
