<?xml version="1.0"?>
<!--
  Descripción: Archivo de configuración del conector de 
	Enterprise Library v1.0.0
	Autor: Jose Gomez Silva
-->
<CommandDef>
  <Command>
    <BaseDatos>MSSQL</BaseDatos>
    <DbInstance>ConexionBD</DbInstance>
    <Type>CommandType.StoredProcedure</Type>
    <Text>cf.uspModificarComisionesPagos</Text>
    <NumberOfParameters>15</NumberOfParameters>
    <ReturnType>procedure</ReturnType>
    <CommandTimeout>6000</CommandTimeout>
  </Command>
  <Parameters>

    <Parameter>
      <Name>@pIdPrestamo</Name>
      <VariableMapeo>Lstr_IdPrestamo</VariableMapeo>
      <Type>String</Type>
      <Size>15</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pIdTramo</Name>
      <VariableMapeo>Lint_IdTramo</VariableMapeo>
      <Type>Int32</Type>
      <Size>15</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pFchPago</Name>
      <VariableMapeo>Ldt_FchPago</VariableMapeo>
      <Type>DateTime</Type>
      <Size>20</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pSecuencia</Name>
      <VariableMapeo>Lint_Secuencia</VariableMapeo>
      <Type>Int64</Type>
      <Size>64</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pConsecutivo</Name>
      <VariableMapeo>Lint_Consecutivo</VariableMapeo>
      <Type>Int64</Type>
      <Size>64</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pFchTipoCambio</Name>
      <VariableMapeo>Ldt_FchTipoCambio</VariableMapeo>
      <Type>DateTime</Type>
      <Size>20</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pMonto</Name>
      <VariableMapeo>Ldec_Monto</VariableMapeo>
      <Type>Decimal</Type>
      <Size>20</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>


    <Parameter>
      <Name>@pMonedaPago</Name>
      <VariableMapeo>Lstr_MonedaPago</VariableMapeo>
      <Type>String</Type>
      <Size>3</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>


    <Parameter>
      <Name>@pEstadoSigade</Name>
      <VariableMapeo>Lstr_EstadoSigade</VariableMapeo>
      <Type>String</Type>
      <Size>10</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>


    <Parameter>
      <Name>@pTipoComision</Name>
      <VariableMapeo>Lstr_TipoComision</VariableMapeo>
      <Type>String</Type>
      <Size>50</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pModalEjecucion</Name>
      <VariableMapeo>Lstr_ModalEjecucion</VariableMapeo>
      <Type>String</Type>
      <Size>50</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pUsrModifica</Name>
      <VariableMapeo>Lstr_UsrModifica</VariableMapeo>
      <Type>String</Type>
      <Size>15</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pFchModifica</Name>
      <VariableMapeo>Ldt_FchModifica</VariableMapeo>
      <Type>DateTime</Type>
      <Size>20</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pResultado</Name>
      <Type>String</Type>
      <Size>2</Size>
      <Direction>Output</Direction>
    </Parameter>

    <Parameter>
      <Name>@pMensaje</Name>
      <Type>String</Type>
      <Size>500</Size>
      <Direction>Output</Direction>
    </Parameter>

  </Parameters>
</CommandDef>
