<?xml version="1.0"?>
<!--
  Descripción: Archivo de configuración del conector de 
	Enterprise Library v1.0.0
	Autor: Jose Gomez Silva
-->
<CommandDef>
  <Command>
    <BaseDatos>MSSQL</BaseDatos>
    <DbInstance>ConexionBD</DbInstance>
    <Type>CommandType.StoredProcedure</Type>
    <Text>cf.uspModificarPrestamos</Text>
    <NumberOfParameters>25</NumberOfParameters>
    <ReturnType>procedure</ReturnType>
    <CommandTimeout>6000</CommandTimeout>
  </Command>
  <Parameters>
    
    <Parameter>
      <Name>@pIdPrestamo</Name>
      <VariableMapeo>Lstr_IdPrestamo</VariableMapeo>
      <Type>String</Type>
      <Size>15</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pFuente</Name>
      <VariableMapeo>Lstr_Fuente</VariableMapeo>
      <Type>String</Type>
      <Size>50</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    
    <Parameter>
      <Name>@pSituacion</Name>
      <VariableMapeo>Lstr_Situacion</VariableMapeo>
      <Type>String</Type>
      <Size>20</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    
    <Parameter>
      <Name>@pPlazo</Name>
      <VariableMapeo>Lstr_Plazo</VariableMapeo>
      <Type>String</Type>
      <Size>2</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pNombre</Name>
      <VariableMapeo>Lstr_Nombre</VariableMapeo>
      <Type>String</Type>
      <Size>30</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    
    <Parameter>
      <Name>@pFchFirmado</Name>
      <VariableMapeo>Ldt_Firmado</VariableMapeo>
      <Type>DateTime</Type>
      <Size>20</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    
    <Parameter>
      <Name>@pLimiteGiro</Name>
      <VariableMapeo>Ldt_LimiteGiro</VariableMapeo>
      <Type>DateTime</Type>
      <Size>20</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    
    <Parameter>
      <Name>@pLimiteEfectivo</Name>
      <VariableMapeo>Ldt_LimiteEfectivo</VariableMapeo>
      <Type>DateTime</Type>
      <Size>20</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    
    <Parameter>
      <Name>@pEfectivo</Name>
      <VariableMapeo>Ldt_Efectivo</VariableMapeo>
      <Type>DateTime</Type>
      <Size>20</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pMonto</Name>
      <VariableMapeo>Ldec_Monto</VariableMapeo>
      <Type>Decimal</Type>
      <Size>20</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    
    <Parameter>
      <Name>@pIdMoneda</Name>
      <VariableMapeo>Lstr_IdMoneda</VariableMapeo>
      <Type>String</Type>
      <Size>3</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    
    <Parameter>
      <Name>@pTipoTramo</Name>
      <VariableMapeo>Lstr_TipoTramo</VariableMapeo>
      <Type>String</Type>
      <Size>20</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    
    <Parameter>
      <Name>@pProposito</Name>
      <VariableMapeo>Lstr_Proposito</VariableMapeo>
      <Type>String</Type>
      <Size>4000</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    
    <Parameter>
      <Name>@pGarantiaPublica</Name>
      <VariableMapeo>Lstr_GarantiaPublica</VariableMapeo>
      <Type>String</Type>
      <Size>1</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pOrigenDeuda</Name>
      <VariableMapeo>Lstr_OrigenDeuda</VariableMapeo>
      <Type>String</Type>
      <Size>10</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    
    <Parameter>
      <Name>@pTipoPrestamo</Name>
      <VariableMapeo>Lstr_TipoPrestamo</VariableMapeo>
      <Type>String</Type>
      <Size>20</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    
    <Parameter>
      <Name>@pUsrModifica</Name>
      <VariableMapeo>Lstr_UsrModifica</VariableMapeo>
      <Type>String</Type>
      <Size>15</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    
    <Parameter>
      <Name>@pFchModifica</Name>
      <VariableMapeo>Ldt_FchModifica</VariableMapeo>
      <Type>DateTime</Type>
      <Size>20</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pNbrAcreedor</Name>
      <VariableMapeo>Lstr_NbrAcreedor</VariableMapeo>
      <Type>String</Type>
      <Size>15</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pCatAcreedor</Name>
      <VariableMapeo>Lstr_CatAcreedor</VariableMapeo>
      <Type>String</Type>
      <Size>15</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pTipoAcreedor</Name>
      <VariableMapeo>Lstr_TpoAcreedor</VariableMapeo>
      <Type>String</Type>
      <Size>15</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pNbrDeudor</Name>
      <VariableMapeo>Lstr_NbrDeudor</VariableMapeo>
      <Type>String</Type>
      <Size>15</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pCatDeudor</Name>
      <VariableMapeo>Lstr_CatDeudor</VariableMapeo>
      <Type>String</Type>
      <Size>15</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pCondicionPrestamo</Name>
      <VariableMapeo>Lstr_CondicionPrestamo</VariableMapeo>
      <Type>String</Type>
      <Size>1</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pExisteObligacion</Name>
      <VariableMapeo>Lstr_ExisteObligacion</VariableMapeo>
      <Type>String</Type>
      <Size>2</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pCondicionMotivo</Name>
      <VariableMapeo>Lstr_CondicionMotivo</VariableMapeo>
      <Type>String</Type>
      <Size>4000</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pCondicionTasa</Name>
      <VariableMapeo>Ldec_CondicionTasa</VariableMapeo>
      <Type>Decimal</Type>
      <Size>13</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pCondicionMonto</Name>
      <VariableMapeo>Ldec_CondicionMonto</VariableMapeo>
      <Type>Decimal</Type>
      <Size>24</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pCondicionFchInicio</Name>
      <VariableMapeo>Ldt_CondicionFchInicio</VariableMapeo>
      <Type>DateTime</Type>
      <Size>20</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pCondicionFchFin</Name>
      <VariableMapeo>Ldt_CondicionFchFin</VariableMapeo>
      <Type>DateTime</Type>
      <Size>20</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
	
    <Parameter>
      <Name>@pResultado</Name>
      <Type>String</Type>
      <Size>2</Size>
      <Direction>Output</Direction>
    </Parameter>
    
    <Parameter>
      <Name>@pMensaje</Name>
      <Type>String</Type>
      <Size>500</Size>
      <Direction>Output</Direction>
    </Parameter>

  </Parameters>
</CommandDef>
