<?xml version="1.0"?>
<!--
  Descripción: Archivo de configuración del conector de 
	Enterprise Library v1.0.0
	Autor: Iliana Sanchez E.
	Fecha: 20-04-2012
-->
<CommandDef>
	<Command>
		<BaseDatos>MSSQL</BaseDatos>
		<DbInstance>ConexionBD</DbInstance>
		<Type>CommandType.StoredProcedure</Type>
		<Text>sg.uspConsultarRol</Text>
		<NumberOfParameters>1</NumberOfParameters>
		<ReturnType>procedure</ReturnType>
		<CommandTimeout>6000</CommandTimeout>
	</Command>
	<Parameters>
		<Parameter>
			<Name>@pIdRol</Name>
			<VariableMapeo>Lstr_Identificador</VariableMapeo>
			<Type>Int32</Type>
			<Size>32</Size>
			<Direction>Input</Direction>
		</Parameter>
		<Parameter>
			<Name>@pStatus</Name>
			<Type>String</Type>
			<Size>32</Size>
			<Direction>Output</Direction>
		</Parameter>
		<Parameter>
			<Name>@pMessage</Name>
			<Type>String</Type>
			<Size>32</Size>
			<Direction>Output</Direction>
		</Parameter>
	</Parameters>
</CommandDef>