<?xml version="1.0"?>
<CommandDef>
	<Command>
		<BaseDatos>MSSQL</BaseDatos>
		<DbInstance>ConexionBD</DbInstance>
		<Type>CommandType.StoredProcedure</Type>
		<Text>co.uspModificarLiquidacion</Text>
		<NumberOfParameters>30</NumberOfParameters>
		<ReturnType>procedure</ReturnType>
		<CommandTimeout>99999999</CommandTimeout>
	</Command>
	<Parameters>
      <Parameter>
      <Name>@pIdExpediente</Name>
      <VariableMapeo>Lstr_IdExpediente</VariableMapeo>
      <Type>String</Type>
      <Size>30</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pIdSociedadGL</Name>
      <VariableMapeo>Lstr_IdSociedadGL</VariableMapeo>
      <Type>String</Type>
      <Size>10</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    
		<Parameter>
			<Name>@pEstadoResolucion</Name>
			<VariableMapeo>Lstr_EstadoResolucion</VariableMapeo>
			<Type>String</Type>
			<Size>30</Size>
      <Nullable>False</Nullable>
			<Direction>Input</Direction>
		</Parameter>
    
    <Parameter>
      <Name>@pFechaResolucion</Name>
      <VariableMapeo>Ldt_FechaResolucion</VariableMapeo>
      <Type>DateTime</Type>
      <Size>10</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pResolucionDictada</Name>
      <VariableMapeo>Lstr_ResolucionDictada</VariableMapeo>
      <Type>String</Type>
      <Size>30</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pFchFallo</Name>
      <VariableMapeo>Ldt_FchFallo</VariableMapeo>
      <Type>DateTime</Type>
      <Size>10</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pCxCaCxP</Name>
      <VariableMapeo>Lint_CxCaCxP</VariableMapeo>
      <Type>Int32</Type>
      <Size>32</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    
		<Parameter>
			<Name>@pMoneda</Name>
			<VariableMapeo>Lstr_Moneda</VariableMapeo>
			<Type>String</Type>
			<Size>50</Size>
       <Nullable>False</Nullable>
			<Direction>Input</Direction>
		</Parameter>
    <Parameter>
      <Name>@pTipoCambio</Name>
      <VariableMapeo>Ldec_TipoCambio</VariableMapeo>
      <Type>Decimal</Type>
      <Size>2</Size>
       <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pIntereses</Name>
      <VariableMapeo>Ldec_Intereses</VariableMapeo>
      <Type>Decimal</Type>
      <Size>2</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pInteresesColones</Name>
      <VariableMapeo>Ldec_InteresesColones</VariableMapeo>
      <Type>Decimal</Type>
      <Size>2</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pInteresesMoratorios</Name>
      <VariableMapeo>Ldec_InteresesMoratorios</VariableMapeo>
      <Type>Decimal</Type>
      <Size>2</Size>
       <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pInteresesMoratoriosColones</Name>
      <VariableMapeo>Ldec_InteresesMoratoriosColones</VariableMapeo>
      <Type>Decimal</Type>
      <Size>2</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pCostas</Name>
      <VariableMapeo>Ldec_Costas</VariableMapeo>
      <Type>Decimal</Type>
      <Size>2</Size>
       <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pCostasColones</Name>
      <VariableMapeo>Ldec_CostasColones</VariableMapeo>
      <Type>Decimal</Type>
      <Size>2</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    
    <Parameter>
      <Name>@pDanoMoral</Name>
      <VariableMapeo>Ldec_DanoMoral</VariableMapeo>
      <Type>Decimal</Type>
      <Size>2</Size>
       <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pDanoMoralColones</Name>
      <VariableMapeo>Ldec_DanoMoralColones</VariableMapeo>
      <Type>Decimal</Type>
      <Size>2</Size>
       <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pObservacionesLiq</Name>
      <VariableMapeo>Lstr_ObservacionesLiq</VariableMapeo>
      <Type>String</Type>
      <Size>100</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pEstado</Name>
      <VariableMapeo>Lstr_Estado</VariableMapeo>
      <Type>String</Type>
      <Size>50</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

   

    <Parameter>
      <Name>@pUsrModifica</Name>
      <VariableMapeo>Lstr_UsrModifica</VariableMapeo>
      <Type>String</Type>
      <Size>30</Size>
       <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    
    <Parameter>
      <Name>@pEstadoProcesal</Name>
      <VariableMapeo>Lstr_EstadoProcesal</VariableMapeo>
      <Type>String</Type>
      <Size>100</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    
		<Parameter>
			<Name>@pResultado</Name>
			<Type>String</Type>
			<Size>2</Size>
			<Direction>Output</Direction>
		</Parameter>
		<Parameter>
			<Name>@pMensaje</Name>
			<Type>String</Type>
			<Size>500</Size>
			<Direction>Output</Direction>
		</Parameter>
	</Parameters>
</CommandDef>