<?xml version="1.0"?>
<CommandDef>
  <Command>
    <BaseDatos>MSSQL</BaseDatos>
    <DbInstance>ConexionBD</DbInstance>
    <Type>CommandType.StoredProcedure</Type>
    <Text>co.uspModificarCobrosPagosArchivo</Text>
    <NumberOfParameters>21</NumberOfParameters>
    <ReturnType>procedure</ReturnType>
    <CommandTimeout>99999999</CommandTimeout>
  </Command>
  <Parameters>
    <Parameter>
      <Name>@pIdRes</Name>
      <VariableMapeo>Lint_IdRes</VariableMapeo>
      <Type>Int32</Type>
      <Size>32</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pIdCobroPagoResolucion</Name>
      <VariableMapeo>Lint_IdCobroPagoResolucion</VariableMapeo>
      <Type>Int32</Type>
      <Size>32</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pIdResolucion</Name>
      <VariableMapeo>Lstr_IdResolucion</VariableMapeo>
      <Type>String</Type>
      <Size>30</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pIdExpediente</Name>
      <VariableMapeo>Lstr_IdExpediente</VariableMapeo>
      <Type>String</Type>
      <Size>30</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pIdSociedadGL</Name>
      <VariableMapeo>Lstr_IdSociedadGL</VariableMapeo>
      <Type>String</Type>
      <Size>10</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pEstadoResolucion</Name>
      <VariableMapeo>Lstr_EstadoResolucion</VariableMapeo>
      <Type>String</Type>
      <Size>30</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pMoneda</Name>
      <VariableMapeo>Lstr_Moneda</VariableMapeo>
      <Type>String</Type>
      <Size>50</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pTipoCambio</Name>
      <VariableMapeo>Ldec_TipoCambio</VariableMapeo>
      <Type>Decimal</Type>
      <Size>8</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pMontoPrincipal</Name>
      <VariableMapeo>Ldec_MontoPrincipal</VariableMapeo>
      <Type>Decimal</Type>
      <Size>20</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pMontoPrincipalColones</Name>
      <VariableMapeo>Ldec_MontoPrincipalColones</VariableMapeo>
      <Type>Decimal</Type>
      <Size>20</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pIntereses</Name>
      <VariableMapeo>Ldec_Intereses</VariableMapeo>
      <Type>Decimal</Type>
      <Size>20</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pInteresesColones</Name>
      <VariableMapeo>Ldec_InteresesColones</VariableMapeo>
      <Type>Decimal</Type>
      <Size>20</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pInteresesMoratorios</Name>
      <VariableMapeo>Ldec_InteresesMoratorios</VariableMapeo>
      <Type>Decimal</Type>
      <Size>2</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pInteresesMoratoriosColones</Name>
      <VariableMapeo>Ldec_InteresesMoratoriosColones</VariableMapeo>
      <Type>Decimal</Type>
      <Size>2</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pCostas</Name>
      <VariableMapeo>Ldec_Costas</VariableMapeo>
      <Type>Decimal</Type>
      <Size>2</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pCostasColones</Name>
      <VariableMapeo>Ldec_CostasColones</VariableMapeo>
      <Type>Decimal</Type>
      <Size>2</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pDanoMoral</Name>
      <VariableMapeo>Ldec_DanoMoral</VariableMapeo>
      <Type>Decimal</Type>
      <Size>2</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pDanoMoralColones</Name>
      <VariableMapeo>Ldec_DanoMoralColones</VariableMapeo>
      <Type>Decimal</Type>
      <Size>2</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pUsrModifica</Name>
      <VariableMapeo>Lstr_UsrModifica</VariableMapeo>
      <Type>String</Type>
      <Size>15</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pResultado</Name>
      <Type>String</Type>
      <Size>2</Size>
      <Direction>Output</Direction>
    </Parameter>
    <Parameter>
      <Name>@pMensaje</Name>
      <Type>String</Type>
      <Size>500</Size>
      <Direction>Output</Direction>
    </Parameter>
  </Parameters>
</CommandDef>