<?xml version="1.0"?>
<!--
  Descripción: Archivo de configuración del conector de 
	Enterprise Library v1.0.0
	Autor: Gabriel Garcia Granados
	Fecha: 27-08-2015
-->
<CommandDef>
  <Command>
    <BaseDatos>MSSQL</BaseDatos>
    <DbInstance>ConexionBD</DbInstance>
    <Type>CommandType.StoredProcedure</Type>
    <Text>ma.uspBorrarOficinaCeBe</Text>
    <NumberOfParameters>6</NumberOfParameters>
    <ReturnType>procedure</ReturnType>
    <CommandTimeout>6000</CommandTimeout>
  </Command>
  <Parameters>
    <Parameter>
      <Name>@pIdOficina</Name>
      <VariableMapeo>Lstr_IdOficina</VariableMapeo>
      <Type>String</Type>
      <Size>10</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pIdSociedadGL</Name>
      <VariableMapeo>Lstr_IdSociedadGL</VariableMapeo>
      <Type>String</Type>
      <Size>10</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pIdModulo</Name>
      <VariableMapeo>Lstr_IdModulo</VariableMapeo>
      <Type>String</Type>
      <Size>4</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pIdCentroBeneficio</Name>
      <VariableMapeo>Lstr_IdCentroBeneficio</VariableMapeo>
      <Type>String</Type>
      <Size>10</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pResultado</Name>
      <Type>String</Type>
      <Size>2</Size>
      <Direction>Output</Direction>
    </Parameter>
    <Parameter>
      <Name>@pMensaje</Name>
      <Type>String</Type>
      <Size>500</Size>
      <Direction>Output</Direction>
    </Parameter>
  </Parameters>
</CommandDef>
