<?xml version="1.0"?>
<!--
  Descripción: Archivo de configuración del conector de 
	Enterprise Library v1.0.0
	Autor: Gabriel Garcia Granados
	Fecha: 27-08-2015
-->
<CommandDef>
  <Command>
    <BaseDatos>MSSQL</BaseDatos>
    <DbInstance>ConexionBD</DbInstance>
    <Type>CommandType.StoredProcedure</Type>
    <Text>ma.uspConsultarOpcionesCatalogo</Text>
    <NumberOfParameters>6</NumberOfParameters>
    <ReturnType>procedure</ReturnType>
    <CommandTimeout>6000</CommandTimeout>
  </Command>
  <Parameters>
    <Parameter>
      <Name>@pIdCatalogo</Name>
      <VariableMapeo>Lint_IdCatalogo</VariableMapeo>
      <Type>Int32</Type>
      <Size>32</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pAbrevCatalogo</Name>
      <VariableMapeo>Lstr_AbrevCatalogo</VariableMapeo>
      <Type>String</Type>
      <Size>30</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pIdOpcion</Name>
      <VariableMapeo>Lint_IdOpcion</VariableMapeo>
      <Type>Int32</Type>
      <Size>32</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pNomOpcion</Name>
      <VariableMapeo>Lstr_NomOpcion</VariableMapeo>
      <Type>String</Type>
      <Size>100</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pResultado</Name>
      <Type>String</Type>
      <Size>2</Size>
      <Direction>Output</Direction>
    </Parameter>
    <Parameter>
      <Name>@pMensaje</Name>
      <Type>String</Type>
      <Size>500</Size>
      <Direction>Output</Direction>
    </Parameter>
  </Parameters>
</CommandDef>