<?xml version="1.0"?>
<!--
  Descripción: Archivo de configuración del conector de 
	Enterprise Library v1.0.0
	Autor: Gabriel Garcia Granados
	Fecha: 27-08-2015
-->
<CommandDef>
  <Command>
    <BaseDatos>MSSQL</BaseDatos>
    <DbInstance>ConexionBD</DbInstance>
    <Type>CommandType.StoredProcedure</Type>
    <Text>ma.uspConsultarAsignacionesACUC</Text>
    <NumberOfParameters>9</NumberOfParameters>
    <ReturnType>procedure</ReturnType>
    <CommandTimeout>6000</CommandTimeout>
  </Command>
  <Parameters>
    <Parameter>
      <Name>@pVista</Name>
      <VariableMapeo>Lstr_Vista</VariableMapeo>
      <Type>String</Type>
      <Size>2</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pVersion</Name>
      <VariableMapeo>Lstr_Version</VariableMapeo>
      <Type>String</Type>
      <Size>3</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pIdAmbitoConsolidacion</Name>
      <VariableMapeo>Lstr_IdAmbitoConsolidacion</VariableMapeo>
      <Type>String</Type>
      <Size>18</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pIdUnidadConsolidacion</Name>
      <VariableMapeo>Lstr_IdUnidadConsolidacion</VariableMapeo>
      <Type>String</Type>
      <Size>18</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pIdEjercicio</Name>
      <VariableMapeo>Lstr_IdEjercicio</VariableMapeo>
      <Type>String</Type>
      <Size>4</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pIdPeriodo</Name>
      <VariableMapeo>Lstr_IdPeriodo</VariableMapeo>
      <Type>String</Type>
      <Size>4</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pEsUnidad</Name>
      <VariableMapeo>Lbln_EsUnidad</VariableMapeo>
      <Type>Boolean</Type>
      <Size>1</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pResultado</Name>
      <Type>String</Type>
      <Size>2</Size>
      <Direction>Output</Direction>
    </Parameter>
    <Parameter>
      <Name>@pMensaje</Name>
      <Type>String</Type>
      <Size>500</Size>
      <Direction>Output</Direction>
    </Parameter>
  </Parameters>
</CommandDef>