<?xml version="1.0"?>
<!--
  Descripción: Archivo de configuración del conector de 
	Enterprise Library v1.0.0
	Autor: Gabriel Garcia Granados
	Fecha: 27-08-2015
-->
<CommandDef>
  <Command>
    <BaseDatos>MSSQL</BaseDatos>
    <DbInstance>ConexionBD</DbInstance>
    <Type>CommandType.StoredProcedure</Type>
    <Text>ma.uspConsultarValoresIndicadoresEco</Text>
    <NumberOfParameters>5</NumberOfParameters>
    <ReturnType>procedure</ReturnType>
    <CommandTimeout>6000</CommandTimeout>
  </Command>
  <Parameters>
    <Parameter>
      <Name>@pIdIndicadorEco</Name>
      <VariableMapeo>Lstr_IdIndicadorEco</VariableMapeo>
      <Type>String</Type>
      <Size>10</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pFchReferencia</Name>
      <VariableMapeo>Ldt_FchReferencia</VariableMapeo>
      <Type>DateTime</Type>
      <Size>20</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pExactaFecha</Name>
      <VariableMapeo>Lstr_ExactaFecha</VariableMapeo>
      <Type>String</Type>
      <Size>1</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pResultado</Name>
      <Type>String</Type>
      <Size>2</Size>
      <Direction>Output</Direction>
    </Parameter>
    <Parameter>
      <Name>@pMensaje</Name>
      <Type>String</Type>
      <Size>500</Size>
      <Direction>Output</Direction>
    </Parameter>
  </Parameters>
</CommandDef>