<?xml version="1.0"?>
<!--
  Descripción: Archivo de configuración del conector de 
	Enterprise Library v1.0.0
	Autor: Gabriel Garcia Granados
	Fecha: 27-08-2015
-->
<CommandDef>
  <Command>
    <BaseDatos>MSSQL</BaseDatos>
    <DbInstance>ConexionBD</DbInstance>
    <Type>CommandType.StoredProcedure</Type>
    <Text>ma.uspModificarTipoCambio</Text>
    <NumberOfParameters>8</NumberOfParameters>
    <ReturnType>procedure</ReturnType>
    <CommandTimeout>6000</CommandTimeout>
  </Command>
  <Parameters>
    <Parameter>
      <Name>@pIdMoneda</Name>
      <VariableMapeo>Lstr_IdMoneda</VariableMapeo>
      <Type>String</Type>
      <Size>4</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pFchReferencia</Name>
      <VariableMapeo>Ldt_FchReferencia</VariableMapeo>
      <Type>DateTime</Type>
      <Size>20</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pTipoTransaccion</Name>
      <VariableMapeo>Lstr_TipoTransaccion</VariableMapeo>
      <Type>String</Type>
      <Size>10</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pValor</Name>
      <VariableMapeo>Ldec_Valor</VariableMapeo>
      <Type>Decimal</Type>
      <Size>24</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pUsrModifica</Name>
      <VariableMapeo>Lstr_UsrModifica</VariableMapeo>
      <Type>String</Type>
      <Size>15</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pFchModifica</Name>
      <VariableMapeo>Ldt_FchModifica</VariableMapeo>
      <Type>DateTime</Type>
      <Size>20</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>    
    <Parameter>
      <Name>@pResultado</Name>
      <Type>String</Type>
      <Size>2</Size>
      <Direction>Output</Direction>
    </Parameter>
    <Parameter>
      <Name>@pMensaje</Name>
      <Type>String</Type>
      <Size>500</Size>
      <Direction>Output</Direction>
    </Parameter>
  </Parameters>
</CommandDef>
