<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- Logg4Net Configuration -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Presentacion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="GestNICSPDEVConnectionString" connectionString="Data Source=LIEP_GNICSP_02,58410;Initial Catalog=GestNICSP; Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="GestNICSPDEVConnectionString2" connectionString="Data Source=LIEP_GNICSP_02,58410;Initial Catalog=GestNICSP; Integrated Security=SSPI;" providerName="System.Data.SqlClient" />    
  </connectionStrings>
  
  <system.web>
    <customErrors mode="Off"/>
    <!--RAMSES-->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="es-MX" fileEncoding="utf-8" uiCulture="es"/>

    
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false"/>
    </httpHandlers>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </buildProviders>
    </compilation>
    <!--<httpRuntime targetFramework="4.5" maxRequestLength="5242880" executionTimeout="272800"  /> -->
    <httpRuntime targetFramework="4.5" maxRequestLength="102400" executionTimeout="3600"  />
    <authentication mode="Forms">
      <forms defaultUrl="~/Principal.aspx" loginUrl="~/Login.aspx" slidingExpiration="true" timeout="20000"/>
    </authentication>
    <sessionState mode="InProc" timeout="20000"/>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
  </system.web>
  
  <appSettings>
    <add key="DireccionConfigs" value="C:\inetpub\wwwroot\SistemaGestor\Configs\"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="PlanCuentas" value="OPER"/>
    <add key="SizeByteMaxTotalArchivos" value="50428800"/>
    <!-- 5242880 bites = 5 megas -->
    <add key="ErrorSizeByteMaxTotalArchivos" value="No se puede cargar el archivo porque sobrepasa junto con los ya cargados el límite permitido de X MB."/>
    <add key="TotalAnnosEnConsultas" value="7"/>
    <add key="UnidadesTiempoPeriodoPermitido" value="T"/>
    <!-- value="BTCSA" Bimestre, Trimestre, Cuatrimestre, Semestre y Anual-->
    <!-- DTSX -->
    <!--<add key="DTSX_RutaDescargaArchivo" value="\\MH-BDQ-NICSP1\ArchivosSistemaGestor" />-->

    <add key="DTSX_RutaDescargaArchivo" value="C:/SistemaGestor/ArchivosSistemaGestor/" />
    <add key="DTSX_PaqueteURL" value="C:/SistemaGestor/DTSX_SistemaGestor/" />    
    <add key="DTSX_Ruta32Bit" value="B://&quot;Program Files (x86)&quot;//&quot;Microsoft SQL Server&quot;//130//DTS//Binn//" />
    <add key="DTSX_DescargaArchivoEnServer" value="DescargaArchivoEnServer.dtsx"/>
    <add key="Run64BitRuntime_DTSX_DescargaArchivoEnServer" value="false"/>
    <add key="DTSX_EjecucionJob" value="true"/>
    <add key="DTSX_JobFolder" value="SistemaGestor"/>
    <add key="DTSX_JobProjectBalance" value="BalanceComprobacion"/>
    <add key="DTSX_JobProjectPatrimonio" value="CambioPatrimonio"/>
    <add key="DTSX_JobProjectDescarga" value="DescargaArchivo"/>
    <add key="DTSX_JobProjectDeuda" value="DeudaPublica"/>
    <add key="DTSX_JobProjectFlujo" value="FlujoEfectivo"/>
    <add key="DTSX_CargaEstadoFinancieroFlujoEfectivo" value="CargaEstadoFinancieroFlujoEfectivo.dtsx"/>
    <add key="Run64BitRuntime_DTSX_CargaEstadoFinancieroFlujoEfectivo" value="false"/>
    <add key="DTSX_CargaEstadoFinancieroCambioPatrimonioNeto" value="CargaEstadoFinancieroCambioPatrimonioNeto.dtsx"/>
    <add key="Run64BitRuntime_DTSX_CargaEstadoFinancieroCambioPatrimonioNeto" value="false"/>
    <add key="DTSX_CargaEstadoFinancieroBalanceComprobacion" value="CargaEstadoFinancieroBalanceComprobacion.dtsx"/>
    <add key="Run64BitRuntime_DTSX_CargaEstadoFinancieroBalanceComprobacion" value="false"/>
    <add key="DTSX_CargaEstadosFinancierosDeudaPublica" value="CargaEstadosFinancierosDeudaPublica.dtsx"/>
    <add key="Run64BitRuntime_DTSX_CargaEstadosFinancierosDeudaPublica" value="false"/>
    <add key="CodigoEstadosFinancieros_EstadoFlujoEfectivo" value="1"/>
    <add key="CodigoEstadosFinancieros_EstadoSituacionEvolucionBienes" value="2"/>
    <add key="CodigoEstadosFinancieros_EstadoCambioPatrimonioNeto" value="3"/>
    <add key="CodigoEstadosFinancieros_ConsolidacionNotas" value="4"/>
    <add key="CodigoEstadosFinancieros_EstadoBalanceComprobacion" value="5"/>
    <add key="CodigoEstadosFinancieros_EstadoEjecucionPresupuestaria" value="6"/>
    <add key="CodigoEstadosFinancieros_EstadoFinancieroSegmentos" value="7"/>
    <add key="CodigoEstadosFinancieros_EstadoDeudaPublica" value="8"/>
    <add key="CodigoEstadosFinancieros_BalanceGeneral" value="9"/>
    <add key="CodigoEstadosFinancieros_EstadoRendimientoFinanciera" value="10"/>
    <add key="CodigoEstadosFinancieros_EstadoVarios" value="11"/>
    <add key="CodigoEstadosFinancieros_CorreoAutorizacion" value="12"/>
    <add key="CodigoCatalogoEtapasEstadoFinanciero_UsuarioInstitucion" value="1"/>
    <add key="CodigoCatalogoEtapasEstadoFinanciero_EnTramiteRevisionInstitucion" value="2"/>
    <add key="CodigoCatalogoEtapasEstadoFinanciero_AprobadoInstitucion" value="3"/>
    <add key="CodigoCatalogoEtapasEstadoFinanciero_RechazadoInstitucion" value="4"/>
    <add key="CodigoCatalogoEtapasEstadoFinanciero_EnTramiteRevisionAnalista" value="5"/>
    <add key="CodigoCatalogoEtapasEstadoFinanciero_AprobadoAnalista" value="6"/>
    <add key="CodigoCatalogoEtapasEstadoFinanciero_RechazadoAnalista" value="7"/>
    <add key="EventLogSource" value="NICSP"/>


    <!-- Info para los reportes -->
    <add key="ReportUser" value="NICSP_Reportes" />
    <add key="ReportPassword" value="bgBoAGsAUgA5ADEAMQAwACMA" />
    <add key="ReportDomain" value="hacienda" />
    <add key="ServidorReportes" value="http://mhreportes.hacienda.go.cr:8080/ReportesHDA"  />
    <add key="IdRolCargaEntidad" value="39" />
    <add key="IdRolRevisionEntidad" value="40" />
    <add key="IdRolRevisionAnalista" value="41" />    
    
    
    <!-- Correo -->
    <add key="CorreoClientePort" value="25" />
    <add key="CorreoClienteHost" value="smtp.hacienda.go.cr" />
    <add key="UsuarioSistemaConsolidacion" value="infogestorcontable@hacienda.go.cr" />
    <add key="CorreoNetworkCredentialUsuario" value="hacienda\infogestorcontable" />
    <add key="CorreoNetworkCredentialPassWord" value="Fdip0543" />

	  <!-- Cuentas Hacienda Captura Ingresos-->
	  <add key="ctaColonesHacienda" value="CR49015100010010525180" />
	  <add key="ctaDolaresHacienda" value="CR63015106120020557381" />
	  <!-- Cuentas Hacienda Captura Ingresos-->	  
    
    <add key="CorreoAsuntoRevisionInstitucion" value="Revisión estados financieros (Institución)"/>
    <add key="CorreoAsuntoRechazoInstitucion" value="Rechazo estados financieros (Institución)"/>
    <add key="CorreoAsuntoRevisionContabilidad" value="Revisión estados financieros (Institución)"/>
    <add key="CorreoAsuntoRechazoContabilidad" value="Rechazo estados financieros (Contabilidad Nacional)"/>
    <add key="CorreoAsuntoAprobacionContabilidad" value="Aprobación estados financieros (Contabilidad Nacional)"/>
    <!-- Usuario - Revisión  dentro de la institución  -->
    <add key="CorreoRevision_Usuario_RevisionInstitucion" value="Estimado usuario: &lt;br/&gt; Le comunicamos que los Estados Financieros y sus anexos han sido cargados satisfactoriamente al Módulo Gestor de Contabilidad Nacional. &lt;br/&gt; Queda sujeto a la revisión y aprobación de su parte para que sean enviados al ente rector dentro de Contabilidad Nacional."/>
    <!--Revisión  dentro de la institución  - Usuario -->
    <add key="CorreoRechazo_RevisionInstitucion_Usuario" value="Estimado usuario: &lt;br/&gt; La institución “XXXXXXX” le informa que los estados financieros y sus auxiliares han sido rechazados. &lt;br/&gt; Favor revisar las observaciones realizadas."/>
    <!--Revisión  dentro de la institución  - Revisión  contabilidad  -->
    <add key="CorreoRevision_RevisionInstitucion_RevisionContabilidad" value="Estimado usuario: &lt;br/&gt; Le comunicamos que los Estados Financieros y sus anexos han sido cargados satisfactoriamente al Módulo Gestor de Contabilidad Nacional por parte de la Institución “XXXXXXX”. &lt;br/&gt; Dichos estados se encuentran habilitados para la revisión y aprobación respectiva dentro de Contabilidad Nacional."/>
    <!--Revisión  contabilidad - Aprobado -->
    <add key="CorreoRechazo_RevisionContabilidad_Usuario" value="Estimado usuario: &lt;br/&gt; La Contabilidad Nacional le informa que los estados financieros y sus auxiliares han sido rechazados. &lt;br/&gt; Favor revisar las observaciones realizadas."/>
    <!--Revisión  contabilidad - Aprobado -->
    <add key="CorreoAprobado_RevisionContabilidad_Usuario" value="Estimado usuario: &lt;br/&gt; La Contabilidad Nacional le informa que los estados financieros y sus auxiliares han sido aprobados."/>
    <add key="Anexo_UsuarioCorreo" value="&lt;br/&gt; &lt;br/&gt; Usuario del sistema Gestor: XXXXX &lt;br/&gt; Correo Usuario: YYYYY"/>

    <!-- Nombres Reportes -->
	  <!-- Nombres Reportes -->
	  
	  
	  <!--<add key="ReporteBitacoraFlowError" value="/NICSP_Reportes_Produccion/rptpcBitacoraFlujoErroresDTSX" />
	  <add key="ReporteEntidadesEntregaATiempoEstadosFinancieros" value="/NICSP_Reportes_Produccion/rptpcEntidadesEntregaATiempoEstadosFinancieros" />
	  <add key="ReporteEntidadesEntregaRechazadaEstadosFinancieros" value="/NICSP_Reportes_Produccion/rptpcEntidadesEntregaRechazadaEstadosFinancieros" />
	  <add key="ReporteEntidadesEntregaTardeEstadosFinancieros" value="/NICSP_Reportes_Produccion/rptpcEntidadesEntregaTardeEstadosFinancieros" />
	  <add key="ReporteEstadoFinancieroCambioPatrimonioNetoAgregado" value="/NICSP_Reportes_Produccion/rptpcEstadoFinancieroCambioPatrimonioNetoAgregado" />
	  <add key="ReporteEstadoFinancieroFlujoEfectivoAgregado" value="/NICSP_Reportes_Produccion/rptpcEstadoFinancieroFlujoEfectivoAgregado" />
	  <add key="ReporteEstadoFinancieroFlujoEfectivoDesagregadoPorAmbitoConsolidacionNumCuenta" value="/NICSP_Reportes_Produccion/rptpcEstadoFinancieroFlujoEfectivoDesagregadoPorAmbitoConsolidacionNumCuenta" />

	  -->
	  <!-- Reportes Alvaro-->
	  <!--
	  <add key="ReporteActivosContigentes" value="/NICSP_Reportes_Produccion/rptcoInformeActivosContigentesMultiples" />
	  <add key="ReporteActivosContigentesInstitucion" value="/NICSP_Reportes_Produccion/rptcoInformeActivosContigentes" />
	  <add key="ReportePasivosContigentes" value="/NICSP_Reportes_Produccion/rptcoInformePasivosContingentesMultiples" />
	  <add key="ReportePasivosContigentesInstitucion" value="/NICSP_Reportes_Produccion/rptcoInformePasivosContigentes" />
	  <add key="ReporteProvisiones" value="/NICSP_Reportes_Produccion/rptcoInformeProvisionesMultiples" />
	  <add key="ReporteProvisionesInstitucion" value="/NICSP_Reportes_Produccion/rptcoInformeProvisiones" />
	  <add key="ReporteCruceVariables" value="/NICSP_Reportes_Produccion/rptInformeProvCruceVariablesMultiples" />
	  <add key="ReporteCruceVariablesInstitucion" value="/NICSP_Reportes_Produccion/rptInformeProvCruceVariables" />
	  <add key="ReporteExpedientesGeneral" value="/NICSP_Reportes_Produccion/rptcoInformeExpedientesGeneralMultiples" />
	  <add key="ReporteExpedientesGeneralInstitucion" value="/NICSP_Reportes_Produccion/rptcoInformeExpedientesGeneral" />
	  <add key="ReporteAnulados" value="/NICSP_Reportes_Produccion/rptcoInformeExpedientesAnuladosMultiples" />
	  <add key="ReporteAnuladosInstitucion" value="/NICSP_Reportes_Produccion/rptcoInformeExpedientesAnulados" />
	  <add key="ReporteCXP" value="/NICSP_Reportes_Produccion/rptcoInformeCuentasPagarMultiples" />
	  <add key="ReporteCXPInstitucion" value="/NICSP_Reportes_Produccion/rptcoInformeCuentasPagar" />
	  <add key="ReporteCXC" value="/NICSP_Reportes_Produccion/rptcoInformeCuentasCobrarMultiples" />
	  <add key="ReporteCXCInstitucion" value="/NICSP_Reportes_Produccion/rptcoInformeCuentasCobrar" />
	  <add key="ReportePagados" value="/NICSP_Reportes_Produccion/rptcoInformeExpedientesPagadosMultiples" />
	  <add key="ReportePagadosInstitucion" value="/NICSP_Reportes_Produccion/rptcoInformeExpedientesPagados" />
	  <add key="ReporteDuplicados" value="/NICSP_Reportes_Produccion/rptcoInformeExpedientesDuplicadosMultiples" />
	  <add key="ReporteDuplicadosInstitucion" value="/NICSP_Reportes_Produccion/rptcoInformeExpedientesDuplicados" />
	  --><!--<add key="ReporteCXCxP" value="/NICSP_Reportes_Produccion/rptcoInformeCuentasCobrar" />--><!--
	  --><!-- Reportes Alvaro Fin--><!--

	  <add key="ReporteCanjeEmision" value="/NICSP_Reportes_Produccion/repCanjeEmision" />
	  <add key="ReporteSubastaEmision" value="/NICSP_Reportes_Produccion/repSubastaEmision" />
	  <add key="InformeCuentasCobrar" value="/NICSP_Reportes_Produccion/rptcoBitacoraCuentasCobrar" />
	  <add key="ReportePrevisiones" value="/NICSP_Reportes_Produccion/rptcoInformeAntiguedadDeSaldosPrevisionIncobrables" />
	  <add key="ReporteValoracionMoneda" value="/NICSP_Reportes_Produccion/repValoracionMoneda" />
	  <add key="ReportePrevisionesMinisterios" value="/NICSP_Reportes_Produccion/rptcoInformeAntiguedadDeSaldosPrevisionIncobrablesMinisterio" />
	  <add key="ReporteReversionDevengo" value="/NICSP_Reportes_Produccion/repReversionDevengo" />
	  <add key="ReporteCuponesPagados" value="/NICSP_Reportes_Produccion/repCuponesPagados" />
	  <add key="ReporteTituloReclasificado" value="/NICSP_Reportes_Produccion/repTituloReclasificado" />
	  <add key="InformeCuentasPagar" value="/NICSP_Reportes_Produccion/rptcoBitacoraCuentasPagar" />
	  <add key="ReporteCapturaIngresosPeriodico" value="/NICSP_Reportes_Produccion/rptciConsultarPagosPorFormulario" />
	  <add key="ReporteCapturaIngresosPeriodicoUPR" value="/NICSP_Reportes_Produccion/rptciConsultarPagosPorFormularioUPR" />
	  <add key="ReporteRevelacion" value="/NICSP_Reportes_Produccion/rptrnImpresionRevelacion" />
	  <add key="ReporteRevelacionPendiente" value="/NICSP_Reportes_Produccion/rptrnImpresionRevPendiente" />
	  <add key="ReporteRevelacionContingente" value="/NICSP_Reportes_Produccion/rptReporteRevCont" />
	  <add key="ReporteConciliacionSaldosDeudas" value="/NICSP_Reportes_Produccion/rptConciliacionSaldosDeudas" />
	  <add key="ReporteNemotecnicosCPLP" value="/NICSP_Reportes_Produccion/repNemotecnicosCPLP" />
	  <add key="ReporteColocaciones" value="/NICSP_Reportes_Produccion/repColocaciones" />
	  <add key="ReporteCancelaciones" value="/NICSP_Reportes_Produccion/repCancelaciones" />
	  <add key="ReporteSaldosDI" value="/NICSP_Reportes_Produccion/repSaldosDeudaInterna" />
	  <add key="ReporteDevengo" value="/NICSP_Reportes_Produccion/repFlujoEfectivo" />
	  <add key="ReporteDevengoDE" value="/NICSP_Reportes_Produccion/repDevengoDeudaExterna" />
	  <add key="ReporteSaldosDeudaExterna" value="/NICSP_Reportes_Produccion/repSaldosDeudaExterna" />
	  <add key="ReporteNuevoFormulario" value="/NICSP_Reportes_Produccion/repNuevoFormulario" />
	  <add key="ReporteConsolidacion" value="/NICSP_Reportes_Produccion/repConsolidacion" />
	  <add key="ReporteGeneralDE" value="/NICSP_Reportes_Produccion/repDevengoGeneralDeudaExterna" />
	  <add key="ReporteSaldosDE" value="/NICSP_Reportes_Produccion/repSaldosDeudaExterna" />
	  <add key="ReporteMovimientosDE" value="/NICSP_Reportes_Produccion/repMovimientosDE" />
	  <add key="ReporteOperacionesEspeciales" value="/NICSP_Reportes_Produccion/repOperacionesEspeciales" />
	  <add key="ReportePagosExpedientesCI" value="/NICSP_Reportes_Produccion/rptPagosExpedientesCI" />
	  <add key="ReportePagosExpedientesCISedeJudicial" value="/NICSP_Reportes_Produccion/rptPagosExpedientesCISedeJudicial" />
	  <add key="ReporteHistorialTitulo" value="/NICSP_Reportes_Produccion/repHistorialTituloValor" />
	  <add key="ReporteDevengoCuponCanje" value="/NICSP_Reportes_Produccion/repFlujoEfectivoCuponCanje" />
	  <add key="ReporteTitulosReclasificados" value="/NICSP_Reportes_Produccion/repTitulosReclasificados" />
	  <add key="ReporteTitulosGarantia" value="/NICSP_Reportes_Produccion/repTitulosGarantía" />
	  <add key="ReporteDevengoGeneral" value="/NICSP_Reportes_Produccion/repDevengoTitulos" />
	  <add key="ReporteBitacora" value="/NICSP_Reportes_Produccion/rptBitacoraAsientos" />
	  <add key="ReporteAuxiliar" value="/NICSP_Reportes_Produccion/repAuxiliarContable" />
	  <add key="ReporteEstadoFinancieroDeudaPublicaAgregado" value="/NICSP_Reportes_Produccion/rptpcEstadosFinancierosDeudaPublicaAgregado" />
	  <add key="ReporteEstadoFinancieroDeudaPublicaDesagregado" value="/NICSP_Reportes_Produccion/rptpcEstadosFinancierosDeudaPublicaDesagregado" />
	  <add key="ReporteEstadoFinancieroCambioPatrimonioNetoDesagregado" value="/NICSP_Reportes_Produccion/rptpcEstadoFinancieroCambioPatrimonioNetoDesagregado" />
	  <add key="ReporteEstadoFinancieroCambioPatrimonioNetoDesagregadoPorAmbitoConsolidacionNumCuenta" value="/NICSP_Reportes_Produccion/rptpcEstadoFinancieroCambioPatrimonioNetoDesagregadoPorAmbitoConsolidacionNumCuenta" />
	  <add key="ReporteEstadoFinancieroFlujoEfectivoDesagregado" value="/NICSP_Reportes_Produccion/rptpcEstadoFinancieroFlujoEfectivoDesagregado" />
	  <add key="EstadoFinancieroDeudaPublicaDesagregadoPorAmbitoConsolidacionNumConsecutivo" value="/NICSP_Reportes_Produccion/rptpcEstadosFinancierosDeudaPublicaDesagregadoPorAmbitoConsolidacionNumConsecutivo" />-->

	<add key="ReporteBitacoraFlowError" value="/NICSP_Reportes_Producción/rptpcBitacoraFlujoErroresDTSX" />
    <add key="ReporteEntidadesEntregaATiempoEstadosFinancieros" value="/NICSP_Reportes_Producción/rptpcEntidadesEntregaATiempoEstadosFinancieros" />
    <add key="ReporteEntidadesEntregaRechazadaEstadosFinancieros" value="/NICSP_Reportes_Producción/rptpcEntidadesEntregaRechazadaEstadosFinancieros" />
    <add key="ReporteEntidadesEntregaTardeEstadosFinancieros" value="/NICSP_Reportes_Producción/rptpcEntidadesEntregaTardeEstadosFinancieros" />
    <add key="ReporteEstadoFinancieroCambioPatrimonioNetoAgregado" value="/NICSP_Reportes_Producción/rptpcEstadoFinancieroCambioPatrimonioNetoAgregado" />
    <add key="ReporteEstadoFinancieroFlujoEfectivoAgregado" value="/NICSP_Reportes_Producción/rptpcEstadoFinancieroFlujoEfectivoAgregado" />
    <add key="ReporteEstadoFinancieroFlujoEfectivoDesagregadoPorAmbitoConsolidacionNumCuenta" value="/NICSP_Reportes_Producción/rptpcEstadoFinancieroFlujoEfectivoDesagregadoPorAmbitoConsolidacionNumCuenta" />
    <add key="ReporteActivosContigentes" value="/NICSP_Reportes_Producción/rptcoInformeActivosContigentes" />
    <add key="ReportePasivosContigentes" value="/NICSP_Reportes_Producción/rptcoInformePasivosContigentes" />
    <add key="ReporteProvisiones" value="/NICSP_Reportes_Producción/rptcoInformeProvisiones" />
    <add key="ReporteCruceVariables" value="/NICSP_Reportes_Producción/rptInformeProvCruceVariables" />
    <add key="ReporteCXCxP" value="/NICSP_Reportes_Producción/rptcoInformeCuentasCobrarPagar" />
    <add key="ReporteCXC" value="/NICSP_Reportes_Producción/rptcoInformeCuentasCobrar" />
    <add key="ReporteConsolidacion" value="/NICSP_Reportes_Producción/repConsolidacion"/>
    <add key="ReporteCXP" value="/NICSP_Reportes_Producción/rptcoInformeCuentasPagar" />
    <add key="InformeCuentasCobrar" value="/NICSP_Reportes_Producción/rptcoBitacoraCuentasCobrar" />
    <add key="InformeCuentasPagar" value="/NICSP_Reportes_Producción/rptcoBitacoraCuentasPagar" />
    <add key="ReporteAnulados" value="/NICSP_Reportes_Producción/rptcoInformeExpedientesAnulados" />
    <add key="ReporteDuplicados" value="/NICSP_Reportes_Producción/rptcoInformeExpedientesDuplicados" />
    <add key="ReporteCapturaIngresosPeriodico" value="/NICSP_Reportes_Producción/rptciConsultarPagosPorFormulario" />
    <add key="ReporteCapturaIngresosPeriodicoUPR" value="/NICSP_Reportes_Producción/rptciConsultarPagosPorFormularioUPR" />
    <add key="ReporteNuevoFormulario" value="/NICSP_Reportes_Producción/repNuevoFormulario" />
    <add key="ReporteRevelacion" value="/NICSP_Reportes_Producción/rptrnImpresionRevelacion" />
    <add key="ReporteRevelacionPendiente" value="/NICSP_Reportes_Producción/rptrnImpresionRevPendiente" />
    <add key="ReporteRevelacionContingente" value="/NICSP_Reportes_Producción/rptReporteRevCont" />
    <add key="ReporteConciliacionSaldosDeudas" value="/NICSP_Reportes_Producción/rptConciliacionSaldosDeudas" />
    <add key="ReporteNemotecnicosCPLP" value="/NICSP_Reportes_Producción/repNemotecnicosCPLP" />
    <add key="ReporteColocaciones" value="/NICSP_Reportes_Producción/repColocaciones" />
    <add key="ReporteReversionDevengo" value="/NICSP_Reportes_Producción/repReversionDevengo"/>
    <add key="ReporteCuponesPagados" value="/NICSP_Reportes_Producción/repCuponesPagados"/>
    <add key="ReporteTituloReclasificado" value="/NICSP_Reportes_Producción/repTituloReclasificado"/>
    <add key="ReporteCancelaciones" value="/NICSP_Reportes_Producción/repCancelaciones" />
    <add key="ReporteSaldosDI" value="/NICSP_Reportes_Producción/repSaldosDeudaInterna" />
    <add key="ReporteDevengo" value="/NICSP_Reportes_Producción/repFlujoEfectivo" />
    <add key="ReporteDevengoDE" value="/NICSP_Reportes_Producción/repDevengoDeudaExterna" />
    <add key="ReporteValoracionMoneda" value="/NICSP_Reportes_Producción/repValoracionMoneda"/>
    <add key="ReporteSaldosDeudaExterna" value="/NICSP_Reportes_Producción/repSaldosDeudaExterna" />
    <add key="ReporteSaldosDE" value="/NICSP_Reportes_Producción/repSaldosDeudaExterna"/>
    <add key="ReporteOperacionesEspeciales" value="/NICSP_Reportes_Producción/repOperacionesEspeciales" />
    <add key="ReportePagosExpedientesCI" value="/NICSP_Reportes_Producción/rptPagosExpedientesCI" />
    <add key="ReportePagosExpedientesCISedeJudicial" value="/NICSP_Reportes_Producción/rptPagosExpedientesCISedeJudicial"/>
    <add key="ReporteHistorialTitulo" value="/NICSP_Reportes_Producción/repHistorialTituloValor" />
    <add key="ReporteDevengoCuponCanje" value="/NICSP_Reportes_Producción/repFlujoEfectivoCuponCanje" />
    <add key="ReporteTitulosReclasificados" value="/NICSP_Reportes_Producción/repTitulosReclasificados" />
    <add key="ReporteTitulosGarantia" value="/NICSP_Reportes_Producción/repTitulosGarantía" />
    <add key="ReporteDevengoGeneral" value="/NICSP_Reportes_Producción/repDevengoTitulos" />
    <add key="ReporteBitacora" value="/NICSP_Reportes_Producción/rptBitacoraAsientos" />
    <add key="ReporteAuxiliar" value="/NICSP_Reportes_Producción/repAuxiliarContable"/>
    <add key="ReporteCanjeEmision" value="/NICSP_Reportes_Producción/repCanjeEmision" />
    <add key="ReporteSubastaEmision" value="/NICSP_Reportes_Producción/repSubastaEmision" />
    <add key="ReporteGeneralDE" value="/NICSP_Reportes_Producción/repDevengoGeneralDeudaExterna" />
    <add key="ReportePrevisiones" value="/NICSP_Reportes_Producción/rptcoInformeAntiguedadDeSaldosPrevisionIncobrables" />
    <add key="ReportePrevisionesMinisterios" value="/NICSP_Reportes_Producción/rptcoInformeAntiguedadDeSaldosPrevisionIncobrablesMinisterio" />
    <add key="ReporteEstadoFinancieroDeudaPublicaAgregado" value="/NICSP_Reportes_Producción/rptpcEstadosFinancierosDeudaPublicaAgregado" />
    <add key="ReporteEstadoFinancieroDeudaPublicaDesagregado" value="/NICSP_Reportes_Producción/rptpcEstadosFinancierosDeudaPublicaDesagregado" />
    <add key="ReporteEstadoFinancieroCambioPatrimonioNetoDesagregado" value="/NICSP_Reportes_Producción/rptpcEstadoFinancieroCambioPatrimonioNetoDesagregado" />
    <add key="ReporteEstadoFinancieroCambioPatrimonioNetoDesagregadoPorAmbitoConsolidacionNumCuenta" value="/NICSP_Reportes_Producción/rptpcEstadoFinancieroCambioPatrimonioNetoDesagregadoPorAmbitoConsolidacionNumCuenta" />
    <add key="ReporteEstadoFinancieroFlujoEfectivoDesagregado" value="/NICSP_Reportes_Producción/rptpcEstadoFinancieroFlujoEfectivoDesagregado" />
    <add key="EstadoFinancieroDeudaPublicaDesagregadoPorAmbitoConsolidacionNumConsecutivo" value="/NICSP_Reportes_Producción/rptpcEstadosFinancierosDeudaPublicaDesagregadoPorAmbitoConsolidacionNumConsecutivo" />

	  
	  <!-- Reportes Alvaro-->
	  
	  <add key="ReporteActivosContigentes" value="/NICSP_Reportes_Producción/rptcoInformeActivosContigentesMultiples" />
	  <add key="ReporteActivosContigentesInstitucion" value="/NICSP_Reportes_Producción/rptcoInformeActivosContigentes" />
	  <add key="ReportePasivosContigentes" value="/NICSP_Reportes_Producción/rptcoInformePasivosContingentesMultiples" />
	  <add key="ReportePasivosContigentesInstitucion" value="/NICSP_Reportes_Producción/rptcoInformePasivosContigentes" />
	  <add key="ReporteProvisiones" value="/NICSP_Reportes_Producción/rptcoInformeProvisionesMultiples" />
	  <add key="ReporteProvisionesInstitucion" value="/NICSP_Reportes_Producción/rptcoInformeProvisiones" />
	  <add key="ReporteCruceVariables" value="/NICSP_Reportes_Producción/rptInformeProvCruceVariablesMultiples" />
	  <add key="ReporteCruceVariablesInstitucion" value="/NICSP_Reportes_Producción/rptInformeProvCruceVariables" />
	  <add key="ReporteExpedientesGeneral" value="/NICSP_Reportes_Producción/rptcoInformeExpedientesGeneralMultiples" />
	  <add key="ReporteExpedientesGeneralInstitucion" value="/NICSP_Reportes_Producción/rptcoInformeExpedientesGeneral" />
	  <add key="ReporteAnulados" value="/NICSP_Reportes_Producción/rptcoInformeExpedientesAnuladosMultiples" />
	  <add key="ReporteAnuladosInstitucion" value="/NICSP_Reportes_Producción/rptcoInformeExpedientesAnulados" />
	  <add key="ReporteCXP" value="/NICSP_Reportes_Producción/rptcoInformeCuentasPagarMultiples" />
	  <add key="ReporteCXPInstitucion" value="/NICSP_Reportes_Producción/rptcoInformeCuentasPagar" />
	  <add key="ReporteCXC" value="/NICSP_Reportes_Producción/rptcoInformeCuentasCobrarMultiples" />
	  <add key="ReporteCXCInstitucion" value="/NICSP_Reportes_Producción/rptcoInformeCuentasCobrar" />
	  <add key="ReportePagados" value="/NICSP_Reportes_Producción/rptcoInformeExpedientesPagadosMultiples" />
	  <add key="ReportePagadosInstitucion" value="/NICSP_Reportes_Producción/rptcoInformeExpedientesPagados" />
	  <add key="ReporteDuplicados" value="/NICSP_Reportes_Producción/rptcoInformeExpedientesDuplicadosMultiples" />
	  <add key="ReporteDuplicadosInstitucion" value="/NICSP_Reportes_Producción/rptcoInformeExpedientesDuplicados" />
	  <!-- Reportes Alvaro Fin-->	  
	  
    <!--Mensajes de Error-->
    <add key="strErrorRetornoNulo" value="No existen datos que suministrar para esta consulta."/>
    <add key="strErrorParametros" value="Faltan parámetros para ejecutar el proceso."/>
    <add key="strErrorDatosWebContraExcel" value="Los datos suministrados no concuerdan con la información del archivo, verificar el Id Entidad, Periodo y la Unidad de Tiempo del Periodo."/>
    <add key="strErrorValidaPeriodoActual" value="Error en la validación del periodo, no se pudo procesar."/>
    <add key="strErrorValidaPeriodoActual2" value="Validar que la carga se haga entre los rangos de tiempo indicados de acuerdo a la Unidad de Tiempo del Periodo."/>
    <add key="strErrorBorrarArchivo" value="Error al borrar archivo."/>
    <add key="strErrorBorrarArchivoEtapaNovalida" value="Error al borrar archivo. No se puede eliminar el archivo, ya no se encuentra en fase de carga, los archivos se encuentran en revisión."/>
    <add key="strErrorBorrarArchivoEtapaNovalida2" value="Error al borrar archivo. No se puede eliminar el archivo, se encuentra en fase de carga o revisión por parte de la institución."/>
    <add key="strErrorCargaArchivo" value="No se pudo cargar el archivo "/>
    <add key="strErrorNoExisteArchivoFlujoEfectivo" value="Se debe cargar el archivo de Flujo de Efectivo."/>
    <add key="strErrorNoExisteArchivoCambioPatrimonioNeto" value="Se debe cargar el archivo de Cambio Patrimonio Neto."/>
    <add key="strErrorNoExisteArchivoBalanceComprobacion" value="Se debe cargar el archivo de Balance de Comprobación."/>
    <add key="strErrorNoExisteArchivoDeudaPublica" value="Se debe cargar el archivo de Deuda Pública."/>
    <add key="strErrorNoExisteArchivoEstadoVarios" value="Se debe cargar el archivo de Estado Varios."/>
    <add key="strErrorNoExisteArchivoNotasEstadosFinancieros" value="Se debe cargar el archivo de Notas Estados Financieros."/>
    <add key="strErrorNoExisteArchivoAnexosEstadosFinancieros" value="Se debe cargar el Archivo Anexo."/>
    <add key="strErrorCambioEstado" value="Error, no se puede procesar el cambio de estado del proceso."/>
    <add key="strErrorConsultaEtapaEstadoFinanciero" value="Error al consultar las etapas del estado financiero."/>
    <add key="strErrorNoExisteArchivoPlantillasEstadosFinancieros" value="Se debe cargar el Archivo de Plantilla."/>
    <add key="strErrorCorreo" value="Error al tratar de enviar el correo para informar que la información cambio de etapa."/>
    <add key="strErrorNoConcuerdaIdInstitucion" value="Error: Su Usuario está ligado a una institución y este no concuerda con el parámetro que esta seleccionado para esta operación."/>
    <add key="ErrorLog" value="C:\Logs\ErrorLog.txt"/>
    <add key="ContrasenaReporting" value="Contrasena"/>
  </appSettings>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <clear/>
        <add name="X-UA-Compatible" value="IE=EmulateIE10"/>
      </customHeaders>
    </httpProtocol>
    <directoryBrowse enabled="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </handlers>
  </system.webServer>
  <applicationSettings>
    <Presentacion.Properties.Settings>
      <setting name="Presentacion_wsObtenerDatos_Service1" serializeAs="String">
        <value>http://172.19.20.113/WSSICxHACIENDA/Service1.asmx</value>
      </setting>
      <setting name="Presentacion_wrTributa_Service1" serializeAs="String">
        <value>http://172.19.20.113/WSSICxHACIENDA/Service1.asmx</value>
      </setting>
      <setting name="Presentacion_wsDTR_DTR" serializeAs="String">
        <value>http://tndigitalwcfv3:90/WB_CGPCanales/DTR.asmx</value>
      </setting>
      <setting name="Presentacion_wsCaptura_wsCapturaIngreso" serializeAs="String">
        <value>http://mh-app-nicsp1:83/wsCapturaIngreso.asmx</value>
      </setting>
      <setting name="Presentacion_wsDeudaExterna_wsDeudaExterna" serializeAs="String">
        <value>http://mh-app-nicsp1:82/wsDeudaExterna.asmx</value>
      </setting>
      <setting name="Presentacion_wsDeudaInterna_wsDeudaInterna" serializeAs="String">
        <value>http://mh-app-nicsp1:82/wsDeudaInterna.asmx</value>
      </setting>
      <setting name="Presentacion_wsAsientos_ServicioContable" serializeAs="String">
        <value>http://mh-app-nicsp1:86/ServicioContable.asmx</value>
      </setting>
      <setting name="Presentacion_wsSG_wsSistemaGestor" serializeAs="String">
        <value>http://mh-app-nicsp1:81/wsSistemaGestor.asmx</value>
      </setting>
      <setting name="Presentacion_wsDI_wsDeudaInterna" serializeAs="String">
        <value>http://mh-app-nicsp1:82/wsDeudaInterna.asmx</value>
      </setting>
      <setting name="Presentacion_wsPC_wsPlantillasConsolidacion" serializeAs="String">
        <value>http://mh-app-nicsp1:89/wsPlantillasConsolidacion.asmx</value>
      </setting>
      <setting name="Presentacion_wsBC_wsBalanceComprobacion" serializeAs="String">
        <value>http://mh-app-nicsp1:88/wsBalanceComprobacion.asmx</value>
      </setting>
      <setting name="Presentacion_wsMontoReservasSAP_ZWS_MONTO_RESERVA"
        serializeAs="String">
        <value>http://APP-SIGAF1.mh.hacienda.go.cr:8000/sap/bc/srt/rfc/sap/zws_zint_conf_monto_reserva/500/zws_monto_reserva/binding</value>
      </setting>
      <setting name="Presentacion_wsDTR1_DTR" serializeAs="String">
        <value>http://tndigitalwcfv3:90/CGPCanalesWCF/DTR.svc</value>
      </setting>
    </Presentacion.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!--<binding name="ExtractosSoap" maxReceivedMessageSize="2147483647" />-->
        <binding maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="32" maxArrayLength="2147483647" maxStringContentLength="2147483647" />
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="binding">
          <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
          <httpsTransport authenticationScheme="Basic" />
        </binding>
        <binding name="binding_soap12">
          <mtomMessageEncoding />
          <httpsTransport authenticationScheme="Basic" />
        </binding>
      </customBinding>
    </bindings>

    <client>
      <endpoint address="http://172.19.20.99:94/extractos.asmx" binding="basicHttpBinding"
        bindingConfiguration="binding_soap12" contract="sr_rdi_rde.ExtractosSoap"
        name="ExtractosSoap" />
      <endpoint address="http://APP-SIGAF1.mh.hacienda.go.cr:8000/sap/bc/srt/rfc/sap/zws_zint_conf_monto_reserva/500/zws_monto_reserva/binding"
        binding="customBinding" bindingConfiguration="binding" contract="srExisteReservaSAP.ZINT_CONF_EXTISTENCIA_RESERVA"
        name="binding" />
      <endpoint address="http://APP-SIGAF1.mh.hacienda.go.cr:8000/sap/bc/srt/rfc/sap/zws_zint_conf_monto_reserva/500/zws_monto_reserva/binding"
        binding="customBinding" bindingConfiguration="binding_soap12"
        contract="srExisteReservaSAP.ZINT_CONF_EXTISTENCIA_RESERVA" name="binding_soap12" />
    </client>

    
  </system.serviceModel>
  <!-- <log4net configSource="log4net.config" /> -->
  <log4net>
    <appender name="Contingentes" type="log4net.Appender.FileAppender">
      <file value="SGContigentes_LOG.log"/>
      <appendToFile value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n"/>
        <param name="Footer" value="[Footer]\r\n"/>
        <param name="ConversionPattern" value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <appender name="ContingentesRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log4NetApplicationRollingLog.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="1MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="Contingentes"/>
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="ContingentesRollingFileAppender"/>
    </root>
  </log4net>

</configuration>