<?xml version="1.0"?>
<!--
  Descripción: Archivo de configuración del conector de 
	Enterprise Library v1.0.0
	Autor: Fabian Solano Redondo
	Fecha: 26-08-2015
-->
<CommandDef>
  <Command>
    <BaseDatos>MSSQL</BaseDatos>
    <DbInstance>ConexionBD</DbInstance>
    <Type>CommandType.StoredProcedure</Type>
    <Text>rn.uspAutorizarCambiosRevelacion</Text>
    <NumberOfParameters>5</NumberOfParameters>
    <ReturnType>procedure</ReturnType>
    <CommandTimeout>6000</CommandTimeout>
  </Command>
  <Parameters>
    <Parameter>
      <Name>@pIdRevelacion</Name>
      <VariableMapeo>Lstr_IdRevelacion</VariableMapeo>
      <Type>Int32</Type>
      <Size>32</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pUltimoDiaModificacion</Name>
      <VariableMapeo>Lstr_UltimoDiaModificacion</VariableMapeo>
      <Type>Date</Type>
      <Size>32</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pFchModifica</Name>
      <VariableMapeo>Lstr_FchModifica</VariableMapeo>
      <Type>DateTime</Type>
      <Size>32</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pUsrModifica</Name>
      <VariableMapeo>Lstr_UsrModifica</VariableMapeo>
      <Type>String</Type>
      <Size>32</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pResultado</Name>
      <Type>String</Type>
      <Size>2</Size>
      <Direction>Output</Direction>
    </Parameter>
    <Parameter>
      <Name>@pMensaje</Name>
      <Type>String</Type>
      <Size>500</Size>
      <Direction>Output</Direction>
    </Parameter>
  </Parameters>
</CommandDef>

