<?xml version="1.0"?>
<!--
  Descripción: Archivo de configuración del conector de 
	Enterprise Library v1.0.0
	Autor: Fabian SolAnno Redondo
	Fecha: 27-08-2015
-->
<CommandDef>
  <Command>
    <BaseDatos>MSSQL</BaseDatos>
    <DbInstance>ConexionBD</DbInstance>
    <Type>CommandType.StoredProcedure</Type>
    <Text>rn.uspConsultarRevelacionesContSoc</Text>
    <NumberOfParameters>7</NumberOfParameters>
    <ReturnType>procedure</ReturnType>
    <CommandTimeout>6000</CommandTimeout>
  </Command>
  <Parameters>
    <Parameter>
      <Name>@pIdRevCont</Name>
      <VariableMapeo>Lstr_IdRevCont</VariableMapeo>
      <Type>String</Type>
      <Size>64</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pPeriodoAnual</Name>
      <VariableMapeo>Lstr_PeriodoAnual</VariableMapeo>
      <Type>Int32</Type>
      <Size>32</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pPeriodoMensual</Name>
      <VariableMapeo>Lstr_PeriodoMensual</VariableMapeo>
      <Type>Int32</Type>
      <Size>32</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pIdSociedadGL</Name>
      <VariableMapeo>Lstr_IdSociedadGL</VariableMapeo>
      <Type>String</Type>
      <Size>10</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pTipoProceso</Name>
      <VariableMapeo>Lstr_TipoProceso</VariableMapeo>
      <Type>String</Type>
      <Size>32</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pResultado</Name>
      <Type>String</Type>
      <Size>2</Size>
      <Direction>Output</Direction>
    </Parameter>
    <Parameter>
      <Name>@pMensaje</Name>
      <Type>String</Type>
      <Size>500</Size>
      <Direction>Output</Direction>
    </Parameter>
  </Parameters>
</CommandDef>