<?xml version="1.0"?>
<!--
  Descripción: Archivo de configuración del conector de 
	Enterprise Library v1.0.0
	Autor: Fabian SolAnno Redondo
	Fecha: 26-08-2015
-->
<CommandDef>
  <Command>
    <BaseDatos>MSSQL</BaseDatos>
    <DbInstance>ConexionBD</DbInstance>
    <Type>CommandType.StoredProcedure</Type>
    <Text>rn.uspCrearFormulario</Text>
    <NumberOfParameters>15</NumberOfParameters>
    <ReturnType>procedure</ReturnType>
    <CommandTimeout>6000</CommandTimeout>
  </Command>
  <Parameters>
    <Parameter>
      <Name>@pPeriodoAnual</Name>
      <VariableMapeo>Lstr_PeriodoAnual</VariableMapeo>
      <Type>String</Type>
      <Size>30</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pPeriodoMensual</Name>
      <VariableMapeo>Lstr_PeriodoMensual</VariableMapeo>
      <Type>String</Type>
      <Size>30</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pInstitucion</Name>
      <VariableMapeo>Lstr_Institucion</VariableMapeo>
      <Type>String</Type>
      <Size>10</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pEntidad</Name>
      <VariableMapeo>Lstr_Entidad</VariableMapeo>
      <Type>String</Type>
      <Size>10</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pIdOficina</Name>
      <VariableMapeo>Lstr_IdOficina</VariableMapeo>
      <Type>String</Type>
      <Size>10</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pPlanCuentas</Name>
      <VariableMapeo>Lstr_PlanCuentas</VariableMapeo>
      <Type>String</Type>
      <Size>10</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pClaseCuentas</Name>
      <VariableMapeo>Lstr_ClaseCuentas</VariableMapeo>
      <Type>String</Type>
      <Size>10</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pCuentas</Name>
      <VariableMapeo>Lstr_Cuentas</VariableMapeo>
      <Type>String</Type>
      <Size>10</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pConcepto</Name>
      <VariableMapeo>Lstr_Concepto</VariableMapeo>
      <Type>String</Type>
      <Size>100</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pJustificacion</Name>
      <VariableMapeo>Lstr_Justificacion</VariableMapeo>
      <Type>String</Type>
      <Size>2000</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pNumExpediente</Name>
      <VariableMapeo>Lstr_NumExpediente</VariableMapeo>
      <Type>String</Type>
      <Size>30</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pHabilitadaPretencion</Name>
      <VariableMapeo>Lstr_HabilitadaPretencion</VariableMapeo>
      <Type>Boolean</Type>
      <Size>32</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pEstadoRevelacion</Name>
      <VariableMapeo>Lstr_EstadoRevelacion</VariableMapeo>
      <Type>String</Type>
      <Size>50</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pUsrCreacion</Name>
      <VariableMapeo>Lstr_UsrCreacion</VariableMapeo>
      <Type>String</Type>
      <Size>32</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pResultado</Name>
      <Type>String</Type>
      <Size>2</Size>
      <Direction>Output</Direction>
    </Parameter>
    <Parameter>
      <Name>@pMensaje</Name>
      <Type>String</Type>
      <Size>500</Size>
      <Direction>Output</Direction>
    </Parameter>
  </Parameters>
</CommandDef>
