<?xml version="1.0"?>
<!--
  Descripción: Archivo de configuración del conector de 
	Enterprise Library v1.0.0
	Autor: Gabriel Garcia
-->
<CommandDef>
  <Command>
    <BaseDatos>MSSQL</BaseDatos>
    <DbInstance>ConexionBD</DbInstance>
    <Type>CommandType.StoredProcedure</Type>
    <Text>ci.uspCambiarEstadoFormularioCapturaIngresos</Text>
    <NumberOfParameters>8</NumberOfParameters>
    <ReturnType>procedure</ReturnType>
    <CommandTimeout>6000</CommandTimeout>
  </Command>
  <Parameters>

    <Parameter>
      <Name>@pIdFormulario</Name>
      <VariableMapeo>Lint_IdFormulario</VariableMapeo>
      <Type>Int32</Type>
      <Size>32</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pAnno</Name>
      <VariableMapeo>Lint_Anno</VariableMapeo>
      <Type>Int16</Type>
      <Size>16</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pEstadoActual</Name>
      <VariableMapeo>Lstr_EstadoActual</VariableMapeo>
      <Type>String</Type>
      <Size>5</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pEstadoNuevo</Name>
      <VariableMapeo>Lstr_EstadoNuevo</VariableMapeo>
      <Type>String</Type>
      <Size>5</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pReferenciaDTR</Name>
      <VariableMapeo>Lstr_ReferenciaDTR</VariableMapeo>
      <Type>String</Type>
      <Size>50</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pUsuario</Name>
      <VariableMapeo>Lstr_Usuario</VariableMapeo>
      <Type>String</Type>
      <Size>15</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pResultado</Name>
      <Type>String</Type>
      <Size>2</Size>
      <Direction>Output</Direction>
    </Parameter>

    <Parameter>
      <Name>@pMensaje</Name>
      <Type>String</Type>
      <Size>500</Size>
      <Direction>Output</Direction>
    </Parameter>

  </Parameters>
</CommandDef>
