<?xml version="1.0"?>
<!--
  Descripción: Archivo de configuración del conector de 
	Enterprise Library v1.0.0
	Autor: Jose Gomez Silva
-->
<CommandDef>
  <Command>
    <BaseDatos>MSSQL</BaseDatos>
    <DbInstance>ConexionBD</DbInstance>
    <Type>CommandType.StoredProcedure</Type>
    <Text>ci.uspEliminarPagosFormulario</Text>
    <NumberOfParameters>8</NumberOfParameters>
    <ReturnType>procedure</ReturnType>
    <CommandTimeout>6000</CommandTimeout>
  </Command>
  <Parameters>
    
    <Parameter>
      <Name>@pIdFormulario</Name>
      <VariableMapeo>Lint_IdFormulario</VariableMapeo>
      <Type>Int32</Type>
      <Size>32</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pAnno</Name>
      <VariableMapeo>Lint_Anno</VariableMapeo>
      <Type>Int16</Type>
      <Size>16</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pIdPago</Name>
      <VariableMapeo>Lint_IdPago</VariableMapeo>
      <Type>Int32</Type>
      <Size>32</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
	
    <Parameter>
      <Name>@pEstado</Name>
      <VariableMapeo>Lstr_Estado</VariableMapeo>
      <Type>String</Type>
      <Size>5</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
	
    <Parameter>
      <Name>@pUsrModifica</Name>
      <VariableMapeo>Lstr_UsrModifica</VariableMapeo>
      <Type>String</Type>
      <Size>15</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    
    <Parameter>
      <Name>@pFchModifica</Name>
      <VariableMapeo>Ldt_FchModifica</VariableMapeo>
      <Type>DateTime</Type>
      <Size>20</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pResultado</Name>
      <Type>String</Type>
      <Size>2</Size>
      <Direction>Output</Direction>
    </Parameter>
    
    <Parameter>
      <Name>@pMensaje</Name>
      <Type>String</Type>
      <Size>500</Size>
      <Direction>Output</Direction>
    </Parameter>

  </Parameters>
</CommandDef>
