<?xml version="1.0"?>
<!--
  Descripción: Archivo de configuración del conector de 
	Enterprise Library v1.0.0
	Autor: Aryurie Nájera
	Fecha: 27-08-2015
-->
<CommandDef>
	<Command>
		<BaseDatos>MSSQL</BaseDatos>
		<DbInstance>ConexionBD</DbInstance>
		<Type>CommandType.StoredProcedure</Type>
		<Text>ci.upsInsertarFormulariosCapturaIngresos</Text>
		<NroberOfParameters>32</NroberOfParameters>
		<ReturnType>procedure</ReturnType>
		<CommandTimeout>6000</CommandTimeout>
	</Command>
	<Parameters>
	
		<Parameter>
			<Name>@pIdFormulario</Name>
			<VariableMapeo>Lint_IdFormulario</VariableMapeo>
			<Type>Int32</Type>
			<Size>32</Size>
			<Nullable>False</Nullable>
			<Direction>Input</Direction>
		</Parameter>
		
		<Parameter>
		  <Name>@pAnno</Name>
		  <VariableMapeo>Lint_Anno</VariableMapeo>
		  <Type>Int32</Type>
		  <Size>32</Size>
		  <Nullable>False</Nullable>
		  <Direction>Input</Direction>
		</Parameter>
		
		<Parameter>
		  <Name>@pTipoIdPersona</Name>
		  <VariableMapeo>Lstr_TipoIdPersona</VariableMapeo>
		  <Type>string</Type>
		  <Size>10</Size>
		  <Nullable>False</Nullable>
		  <Direction>Input</Direction>
		</Parameter>
		
		<Parameter>
		  <Name>@pIdPersona</Name>
		  <VariableMapeo>Lstr_IdPersona</VariableMapeo>
		  <Type>String</Type>
		  <Size>30</Size>
		  <Nullable>False</Nullable>
		  <Direction>Input</Direction>
		</Parameter>
		
    <Parameter>
		  <Name>@pNomPersona</Name>
		  <VariableMapeo>Lstr_NomPersona</VariableMapeo>
		  <Type>String</Type>
		  <Size>100</Size>
		  <Nullable>False</Nullable>
		  <Direction>Input</Direction>
		</Parameter>
    
    <Parameter>
		  <Name>@pTipoIdPersonaTramite</Name>
		  <VariableMapeo>Lstr_TipoIdPersonaTramite</VariableMapeo>
		  <Type>string</Type>
		  <Size>10</Size>
		  <Nullable>False</Nullable>
		  <Direction>Input</Direction>
		</Parameter>
      
		<Parameter>
		  <Name>@pIdPersonaTramite</Name>
		  <VariableMapeo>Lstr_IdPersonaTramite</VariableMapeo>
		  <Type>String</Type>
		  <Size>30</Size>
		  <Nullable>False</Nullable>
		  <Direction>Input</Direction>
		</Parameter>  
		
    <Parameter>
		  <Name>@pNomPersonaTramite</Name>
		  <VariableMapeo>Lstr_NomPersonaTramite</VariableMapeo>
		  <Type>String</Type>
		  <Size>100</Size>
		  <Nullable>False</Nullable>
		  <Direction>Input</Direction>
		</Parameter>
    		
		<Parameter>
		  <Name>@pCorreo</Name>
		  <VariableMapeo>Lstr_Correo</VariableMapeo>
		  <Type>String</Type>
		  <Size>100</Size>
		  <Nullable>False</Nullable>
		  <Direction>Input</Direction>
		</Parameter>

    <Parameter>
      <Name>@pIdSociedadGL</Name>
      <VariableMapeo>Lstr_IdSociedadGL</VariableMapeo>
      <Type>String</Type>
      <Size>10</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pIdOficina</Name>
      <VariableMapeo>Lstr_IdOficina</VariableMapeo>
      <Type>String</Type>
      <Size>10</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pIdBanco</Name>
      <VariableMapeo>Lstr_IdBanco</VariableMapeo>
      <Type>String</Type>
      <Size>5</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    
		<Parameter>
		  <Name>@pIdElementoPEP</Name>
		  <VariableMapeo>Lstr_IdElementoPEP</VariableMapeo>
		  <Type>String</Type>
		  <Size>30</Size>
		  <Nullable>False</Nullable>
		  <Direction>Input</Direction>
		</Parameter>
		
		<Parameter>
		  <Name>@pIdReservaPresupuestaria</Name>
		  <VariableMapeo>Lstr_IdReservaPresupuestaria</VariableMapeo>
		  <Type>String</Type>
		  <Size>10</Size>
		  <Nullable>False</Nullable>
		  <Direction>Input</Direction>
		</Parameter>
		
		<Parameter>
		  <Name>@pNroExpediente</Name>
		  <VariableMapeo>Lstr_NroExpediente</VariableMapeo>
		  <Type>String</Type>
		  <Size>30</Size>
		  <Nullable>False</Nullable>
		  <Direction>Input</Direction>
		</Parameter>
		
		<Parameter>
		  <Name>@pDescripcion</Name>
		  <VariableMapeo>Lstr_Descripcion</VariableMapeo>
		  <Type>String</Type>
		  <Size>500</Size>
		  <Nullable>False</Nullable>
		  <Direction>Input</Direction>
		</Parameter>
		
		<Parameter>
		  <Name>@pCtaCliente</Name>
		  <VariableMapeo>Lstr_CtaCliente</VariableMapeo>
		  <Type>String</Type>
		  <Size>30</Size>
		  <Nullable>False</Nullable>
		  <Direction>Input</Direction>
		</Parameter>
		
		<Parameter>
		  <Name>@pDireccion</Name>
		  <VariableMapeo>Lstr_Direccion</VariableMapeo>
		  <Type>String</Type>
		  <Size>250</Size>
		  <Nullable>False</Nullable>
		  <Direction>Input</Direction>
		</Parameter>
		
		<Parameter>
		  <Name>@pFchIngreso</Name>
		  <VariableMapeo>Ldt_FchIngreso</VariableMapeo>
		  <Type>DateTime</Type>
		  <Size>20</Size>
		  <Nullable>False</Nullable>
		  <Direction>Input</Direction>
		</Parameter>
		
		<Parameter>
		  <Name>@pFchImpreso</Name>
		  <VariableMapeo>Ldt_FchImpreso</VariableMapeo>
		  <Type>DateTime</Type>
		  <Size>20</Size>
		  <Nullable>False</Nullable>
		  <Direction>Input</Direction>
		</Parameter>
		
		<Parameter>
		  <Name>@pFchPago</Name>
		  <VariableMapeo>Ldt_FchPago</VariableMapeo>
		  <Type>DateTime</Type>
		  <Size>20</Size>
		  <Nullable>False</Nullable>
		  <Direction>Input</Direction>
		</Parameter>
		
		<Parameter>
		  <Name>@pFchContabilizado</Name>
		  <VariableMapeo>Ldt_FchContabilizado</VariableMapeo>
		  <Type>DateTime</Type>
		  <Size>20</Size>
		  <Nullable>False</Nullable>
		  <Direction>Input</Direction>
		</Parameter>
		
		<Parameter>
		  <Name>@pFchAnulado</Name>
		  <VariableMapeo>Ldt_FchAnulado</VariableMapeo>
		  <Type>DateTime</Type>
		  <Size>20</Size>
		  <Nullable>False</Nullable>
		  <Direction>Input</Direction>
		</Parameter>
		
		<Parameter>
			<Name>@pEstado</Name>
			<VariableMapeo>Lstr_Estado</VariableMapeo>
			<Type>String</Type>
			<Size>5</Size>
			<Nullable>False</Nullable>
			<Direction>Input</Direction>
		</Parameter>
		
		<Parameter>
			<Name>@pObservaciones</Name>
			<VariableMapeo>Lstr_Observaciones</VariableMapeo>
			<Type>String</Type>
			<Size>500</Size>
			<Nullable>False</Nullable>
			<Direction>Input</Direction>
		</Parameter>
	
    <Parameter>
      <Name>@pIdMoneda</Name>
      <VariableMapeo>Lstr_IdMoneda</VariableMapeo>
      <Type>String</Type>
      <Size>4</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    
    <Parameter>
      <Name>@pMonto</Name>
      <VariableMapeo>Ldec_Monto</VariableMapeo>
      <Type>Decimal</Type>
      <Size>24</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pReferenciaDTR</Name>
      <VariableMapeo>Lstr_ReferenciaDTR</VariableMapeo>
      <Type>String</Type>
      <Size>50</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    
		<Parameter>
		  <Name>@pUsuario</Name>
		  <VariableMapeo>Lstr_Usuario</VariableMapeo>
		  <Type>String</Type>
		  <Size>15</Size>
		  <Nullable>False</Nullable>
		  <Direction>Input</Direction>
		</Parameter>
		
		<Parameter>      
			<Name>@pResultado</Name>
			<Type>String</Type>
			<Size>2</Size>
			<Nullable>False</Nullable>
			<Direction>Output</Direction>
		</Parameter>
		
		<Parameter>
			<Name>@pMensaje</Name>
			<Type>String</Type>
			<Size>500</Size>
			<Nullable>False</Nullable>
			<Direction>Output</Direction>
		</Parameter>
		<Parameter>
			<Name>@pTmpIdFormulario</Name>
			<Type>Int32</Type>
			<Size>32</Size>
			<Nullable>False</Nullable>
			<Direction>Output</Direction>
		</Parameter>
	</Parameters>
</CommandDef>