<?xml version="1.0"?>
<!--
  Descripción: Archivo de configuración del conector de 
	Enterprise Library v1.0.0
	Autor: Aryurie Nájera
	Fecha: 27-08-2015
-->
<CommandDef>
  <Command>
    <BaseDatos>MSSQL</BaseDatos>
    <DbInstance>ConexionBD</DbInstance>
    <Type>CommandType.StoredProcedure</Type>
    <Text>ci.upsInsertarComprobantesPagoPorFormulario</Text>
    <NumberOfParameters>12</NumberOfParameters>
    <ReturnType>procedure</ReturnType>
    <CommandTimeout>6000</CommandTimeout>
  </Command>
  <Parameters>
    <Parameter>
      <Name>@pIdFormulario</Name>
      <VariableMapeo>Lint_IdFormulario</VariableMapeo>
      <Type>Int32</Type>
      <Size>32</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pAnno</Name>
      <VariableMapeo>Lint_Anno</VariableMapeo>
      <Type>Int16</Type>
      <Size>16</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pNumComprobante</Name>
      <VariableMapeo>Lstr_NumComprobante</VariableMapeo>
      <Type>String</Type>
      <Size>100</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pFchComprobante</Name>
      <VariableMapeo>Ldt_FchComprobante</VariableMapeo>
      <Type>DateTime</Type>
      <Size>20</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pIdBanco</Name>
      <VariableMapeo>Lstr_IdBanco</VariableMapeo>
      <Type>String</Type>
      <Size>5</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pIdMoneda</Name>
      <VariableMapeo>Lstr_IdMoneda</VariableMapeo>
      <Type>String</Type>
      <Size>5</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pMonto</Name>
      <VariableMapeo>Ldec_Monto</VariableMapeo>
      <Type>Decimal</Type>
      <Size>24</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pObservaciones</Name>
      <VariableMapeo>Lstr_Observaciones</VariableMapeo>
      <Type>String</Type>
      <Size>500</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pUsuario</Name>
      <VariableMapeo>Lstr_Usuario</VariableMapeo>
      <Type>String</Type>
      <Size>15</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pFchModifica</Name>
      <VariableMapeo>Ldt_FchModifica</VariableMapeo>
      <Type>Datetime</Type>
      <Size>20</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>    
    <Parameter>
      <Name>@pResultado</Name>
      <Type>String</Type>
      <Size>2</Size>
      <Nullable>False</Nullable>
      <Direction>Output</Direction>
    </Parameter>
    <Parameter>
      <Name>@pMensaje</Name>
      <Type>String</Type>
      <Size>500</Size>
      <Nullable>False</Nullable>
      <Direction>Output</Direction>
    </Parameter>    
  </Parameters>
</CommandDef>