<?xml version="1.0"?>
<!--
  Descripción: Archivo de configuración del conector de 
	Enterprise Library v1.0.0
	Autor: Gabriel Garcia
-->
<CommandDef>
  <Command>
    <BaseDatos>MSSQL</BaseDatos>
    <DbInstance>ConexionBD</DbInstance>
    <Type>CommandType.StoredProcedure</Type>
    <Text>co.uspCrearAntiguedadDeSaldos</Text>
    <NumberOfParameters>15</NumberOfParameters>
    <ReturnType>procedure</ReturnType>
    <CommandTimeout>6000</CommandTimeout>
  </Command>
  <Parameters>

    <Parameter>
      <Name>@pIdAntiguedadSaldos</Name>
      <VariableMapeo>Lint_IdAntiguedadSaldos</VariableMapeo>
      <Type>Int32</Type>
      <Size>32</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pIdPrevisionIncobrables</Name>
      <VariableMapeo>Lint_IdPrevisionIncobrables</VariableMapeo>
      <Type>Int32</Type>
      <Size>32</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pIdResolucion</Name>
      <VariableMapeo>Lstr_IdResolucion</VariableMapeo>
      <Type>String</Type>
      <Size>30</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pIdExpediente</Name>
      <VariableMapeo>Lstr_IdExpediente</VariableMapeo>
      <Type>String</Type>
      <Size>50</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pDescripcionVencimiento</Name>
      <VariableMapeo>Lstr_DescripcionVencimiento</VariableMapeo>
      <Type>String</Type>
      <Size>100</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    
    <Parameter>
      <Name>@pDiasDeCuenta</Name>
      <VariableMapeo>Lint_DiasDeCuenta</VariableMapeo>
      <Type>Int32</Type>
      <Size>32</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pMesesDeCuenta</Name>
      <VariableMapeo>Lint_MesesDeCuenta</VariableMapeo>
      <Type>Int32</Type>
      <Size>32</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pMontoIncobrable</Name>
      <VariableMapeo>Ldec_MontoIncobrable</VariableMapeo>
      <Type>Decimal</Type>
      <Size>21</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pDiferenciaAjustar</Name>
      <VariableMapeo>Ldec_DiferenciaAjustar</VariableMapeo>
      <Type>Decimal</Type>
      <Size>21</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pPorcentajeIncobrable</Name>
      <VariableMapeo>Ldec_PorcentajeIncobrable</VariableMapeo>
      <Type>Decimal</Type>
      <Size>21</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    
    <Parameter>
      <Name>@pEstado</Name>
      <VariableMapeo>Lstr_Estado</VariableMapeo>
      <Type>String</Type>
      <Size>5</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>


    <Parameter>
      <Name>@pUsuario</Name>
      <VariableMapeo>Lstr_Usuario</VariableMapeo>
      <Type>String</Type>
      <Size>15</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pResultado</Name>
      <Type>String</Type>
      <Size>2</Size>
      <Direction>Output</Direction>
    </Parameter>

    <Parameter>
      <Name>@pMensaje</Name>
      <Type>String</Type>
      <Size>500</Size>
      <Direction>Output</Direction>
    </Parameter>
    
    <Parameter>
      <Name>@pTmpIdAntiguedadSaldos</Name>
      <Type>Int32</Type>
      <Size>32</Size>
      <Nullable>False</Nullable>
      <Direction>Output</Direction>
    </Parameter>

  </Parameters>
</CommandDef>
