<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="DireccionConfigs" value="C:\inetpub\wwwroot\SistemaGestor\Configs\"/>
    <add key="USER_SAP" value="WS_USER_INT" />
    <add key="PASS_SAP" value="Haciendaqa2018" />
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="ConexionBD" connectionString="Data Source=MH-BDQ-NICSP1\QMSS2017E01;Initial Catalog=GestNICSP; Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  </connectionStrings >
</configuration>