<?xml version="1.0"?>
<!--
  Descripción: Archivo de configuración del conector de 
	Enterprise Library v1.0.0
	Autor: Jose Gomez Silva
-->
<CommandDef>
  <Command>
    <BaseDatos>MSSQL</BaseDatos>
    <DbInstance>ConexionBD</DbInstance>
    <Type>CommandType.StoredProcedure</Type>
    <Text>cf.uspRegistrarCalculosFlujoEfectivo</Text>
    <NumberOfParameters>10</NumberOfParameters>
    <ReturnType>procedure</ReturnType>
    <CommandTimeout>6000</CommandTimeout>
  </Command>
  <Parameters>

	<Parameter>
      <Name>@pNumValor</Name>
      <VariableMapeo>Lint_NumValor</VariableMapeo>
      <Type>Int32</Type>
      <Size>20</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pNemoTecnico</Name>
      <VariableMapeo>Lstr_Nemotecnico</VariableMapeo>
      <Type>String</Type>
      <Size>30</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
	
    <Parameter>
      <Name>@pPeriodo</Name>
      <VariableMapeo>Lstr_Periodo</VariableMapeo>
      <Type>String</Type>
      <Size>14</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
	
    <Parameter>
      <Name>@pTasaInteres</Name>
      <VariableMapeo>Ldec_TasaInteres</VariableMapeo>
      <Type>Decimal</Type>
      <Size>5</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
	
	<Parameter>
      <Name>@pIntereses</Name>
      <VariableMapeo>Ldec_Intereses</VariableMapeo>
      <Type>Decimal</Type>
      <Size>20</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
	
	<Parameter>
      <Name>@pFlujoEfectivo</Name>
      <VariableMapeo>Ldec_FlujoEfectivo</VariableMapeo>
      <Type>Decimal</Type>
      <Size>20</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pNroAsiento</Name>
      <VariableMapeo>Lstr_NroAsiento</VariableMapeo>
      <Type>String</Type>
      <Size>50</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pUsrCreacion</Name>
      <VariableMapeo>Lstr_UsrCreacion</VariableMapeo>
      <Type>String</Type>
      <Size>15</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pResultado</Name>
      <Type>String</Type>
      <Size>2</Size>
      <Direction>Output</Direction>
    </Parameter>

    <Parameter>
      <Name>@pMensaje</Name>
      <Type>String</Type>
      <Size>500</Size>
      <Direction>Output</Direction>
    </Parameter>

  </Parameters>
</CommandDef>
