<?xml version="1.0"?>
<!--
  Descripción: Archivo de configuración del conector de 
	Enterprise Library v1.0.0
	Autor: Jose Gomez Silva
-->
<CommandDef>
  <Command>
    <BaseDatos>MSSQL</BaseDatos>
    <DbInstance>ConexionBD</DbInstance>
    <Type>CommandType.StoredProcedure</Type>
    <Text>cf.uspRegistrarEmisionesSubastaInversa</Text>
    <NumberOfParameters>24</NumberOfParameters>
    <ReturnType>procedure</ReturnType>
    <CommandTimeout>6000</CommandTimeout>
  </Command>
  <Parameters>
    <Parameter>
        <Name>@pNroEmisionSerie</Name>
        <VariableMapeo>Lstr_NroEmisionSerie</VariableMapeo>
        <Type>String</Type>
        <Size>50</Size>
        <Nullable>True</Nullable>
        <Direction>Input</Direction>
    </Parameter>
	  <Parameter>
        <Name>@pCapitalFchSubasta</Name>
        <VariableMapeo>Ldec_CapitalFchSubasta</VariableMapeo>
        <Type>Decimal</Type>
        <Size>20</Size>
        <Nullable>True</Nullable>
        <Direction>Input</Direction>
      </Parameter>
	  <Parameter>
        <Name>@pImpDevengarFchSubasta</Name>
        <VariableMapeo>Ldec_ImpDevengarFchSubasta</VariableMapeo>
        <Type>Decimal</Type>
        <Size>30</Size>
        <Nullable>True</Nullable>
        <Direction>Input</Direction>
      </Parameter>
	  <Parameter>
        <Name>@pCuponCorridoFchSubasta</Name>
        <VariableMapeo>Ldec_CuponCorridoFchSubasta</VariableMapeo>
        <Type>Decimal</Type>
        <Size>20</Size>
        <Nullable>True</Nullable>
        <Direction>Input</Direction>
      </Parameter>
    <Parameter>
      <Name>@pValorEmision</Name>
      <VariableMapeo>Ldec_ValorEmision</VariableMapeo>
      <Type>Decimal</Type>
      <Size>20</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
    <Name>@pPorcentajeEmision</Name>
    <VariableMapeo>Ldec_PorcentajeEmision</VariableMapeo>
    <Type>Decimal</Type>
    <Size>20</Size>
    <Nullable>True</Nullable>
    <Direction>Input</Direction>
  </Parameter>
    <Parameter>
      <Name>@pImpDevengarTranscurrido</Name>
      <VariableMapeo>Ldec_ImpDevengarTranscurrido</VariableMapeo>
      <Type>Decimal</Type>
      <Size>20</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pCuponCorridoTranscurrido</Name>
      <VariableMapeo>Ldec_CuponCorridoTranscurrido</VariableMapeo>
      <Type>Decimal</Type>
      <Size>20</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pCapitalDeBaja</Name>
      <VariableMapeo>Ldec_CapitalDeBaja</VariableMapeo>
      <Type>Decimal</Type>
      <Size>20</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pIporteDevengarDeBaja</Name>
      <VariableMapeo>Ldec_IporteDevengarDeBaja</VariableMapeo>
      <Type>Decimal</Type>
      <Size>20</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pCuponCorridoDeBaja</Name>
      <VariableMapeo>Ldec_CuponCorridoDeBaja</VariableMapeo>
      <Type>Decimal</Type>
      <Size>20</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pValorEmisionDeBaja</Name>
      <VariableMapeo>Ldec_ValorEmisionDeBaja</VariableMapeo>
      <Type>Decimal</Type>
      <Size>20</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pEntradaSalidaCaja</Name>
      <VariableMapeo>Ldec_EntradaSalidaCaja</VariableMapeo>
      <Type>Decimal</Type>
      <Size>20</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pNetoSubastado</Name>
      <VariableMapeo>Ldec_NetoSubastado</VariableMapeo>
      <Type>Decimal</Type>
      <Size>20</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pTotalNetoBaja</Name>
      <VariableMapeo>Ldec_TotalNetoBaja</VariableMapeo>
      <Type>Decimal</Type>
      <Size>20</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pDiferencia</Name>
      <VariableMapeo>Ldec_Diferencia</VariableMapeo>
      <Type>Decimal</Type>
      <Size>20</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pCapital</Name>
      <VariableMapeo>Ldec_Capital</VariableMapeo>
      <Type>Decimal</Type>
      <Size>20</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pInteresDevengado</Name>
      <VariableMapeo>Ldec_InteresDevengado</VariableMapeo>
      <Type>Decimal</Type>
      <Size>20</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pImpRenta</Name>
      <VariableMapeo>Ldec_ImpRenta</VariableMapeo>
      <Type>Decimal</Type>
      <Size>20</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pDescuento</Name>
      <VariableMapeo>Ldec_Descuento</VariableMapeo>
      <Type>Decimal</Type>
      <Size>20</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pTotalColocado</Name>
      <VariableMapeo>Ldec_TotalColocado</VariableMapeo>
      <Type>Decimal</Type>
      <Size>20</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pUsrCreacion</Name>
      <VariableMapeo>Lstr_UsrCreacion</VariableMapeo>
      <Type>String</Type>
      <Size>15</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pResultado</Name>
      <Type>String</Type>
      <Size>2</Size>
      <Direction>Output</Direction>
    </Parameter>

    <Parameter>
      <Name>@pMensaje</Name>
      <Type>String</Type>
      <Size>500</Size>
      <Direction>Output</Direction>
    </Parameter>

  </Parameters>
</CommandDef>
