<?xml version="1.0"?>
<!--
  Descripción: Parametros procedimiento uspRegistrarTitulosCanjeSubasta
	Autor: Josue Nuñez Cascante
-->
<CommandDef>
  <Command>
    <BaseDatos>MSSQL</BaseDatos>
    <DbInstance>ConexionBD</DbInstance>
    <Type>CommandType.StoredProcedure</Type>
    <Text>cf.uspRegistrarTitulosCanjeSubasta</Text>
    <NumberOfParameters>8</NumberOfParameters>
    <ReturnType>procedure</ReturnType>
    <CommandTimeout>6000</CommandTimeout>
  </Command>
  <Parameters>

	<Parameter>
      <Name>@pNroEmisionSerie</Name>
      <VariableMapeo>Lstr_NroEmisionSerie</VariableMapeo>
      <Type>String</Type>
      <Size>50</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>


    <Parameter>
      <Name>@pNumValor</Name>
      <VariableMapeo>Lint_NumValor</VariableMapeo>
      <Type>Int32</Type>
      <Size>20</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pNemoTecnico</Name>
      <VariableMapeo>Lstr_Nemotecnico</VariableMapeo>
      <Type>String</Type>
      <Size>30</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    
    <Parameter>
      <Name>@pFchCanje</Name>
      <VariableMapeo>Ldt_FchCanje</VariableMapeo>
      <Type>Date</Type>
      <Size>20</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pTituloCompraEmision</Name>
      <VariableMapeo>Lstr_TituloCompraEmision</VariableMapeo>
      <Type>String</Type>
      <Size>50</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    
    <Parameter>
      <Name>@pUsrCreacion</Name>
      <VariableMapeo>Lstr_UsrCreacion</VariableMapeo>
      <Type>String</Type>
      <Size>15</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pResultado</Name>
      <Type>String</Type>
      <Size>2</Size>
      <Direction>Output</Direction>
    </Parameter>

    <Parameter>
      <Name>@pMensaje</Name>
      <Type>String</Type>
      <Size>500</Size>
      <Direction>Output</Direction>
    </Parameter>

  </Parameters>
</CommandDef>
