<?xml version="1.0"?>
<!--
  Descripción: Archivo de configuración del conector de 
	Enterprise Library v1.0.0
	Autor: Jose Gomez Silva
-->
<CommandDef>
  <Command>
    <BaseDatos>MSSQL</BaseDatos>
    <DbInstance>ConexionBD</DbInstance>
    <Type>CommandType.StoredProcedure</Type>
    <Text>cf.uspRegistrarDevengosMensualesNroSerie</Text>
    <NumberOfParameters>10</NumberOfParameters>
    <ReturnType>procedure</ReturnType>
    <CommandTimeout>6000</CommandTimeout>
  </Command>
  <Parameters>

    <Parameter>
      <Name>@pNroEmision</Name>
      <VariableMapeo>Lstr_NroEmision</VariableMapeo>
      <Type>String</Type>
      <Size>30</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
	
    <Parameter>
      <Name>@pPeriodo</Name>
      <VariableMapeo>Lstr_Periodo</VariableMapeo>
      <Type>String</Type>
      <Size>14</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
	
    <Parameter>
      <Name>@pDiasPeriodo</Name>
      <VariableMapeo>Lint_DiasPeriodo</VariableMapeo>
      <Type>Int32</Type>
      <Size>20</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
	
	<Parameter>
      <Name>@pColumna1</Name>
      <VariableMapeo>Ldec_Columna1</VariableMapeo>
      <Type>Decimal</Type>
      <Size>20</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
	
	<Parameter>
      <Name>@pColumna2</Name>
      <VariableMapeo>Ldec_Columna2</VariableMapeo>
      <Type>Decimal</Type>
      <Size>20</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
	
	<Parameter>
      <Name>@pColumna3</Name>
      <VariableMapeo>Ldec_Columna3</VariableMapeo>
      <Type>Decimal</Type>
      <Size>20</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pColumna4</Name>
      <VariableMapeo>Ldec_Columna4</VariableMapeo>
      <Type>Decimal</Type>
      <Size>20</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pUsrCreacion</Name>
      <VariableMapeo>Lstr_UsrCreacion</VariableMapeo>
      <Type>String</Type>
      <Size>15</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pResultado</Name>
      <Type>String</Type>
      <Size>2</Size>
      <Direction>Output</Direction>
    </Parameter>

    <Parameter>
      <Name>@pMensaje</Name>
      <Type>String</Type>
      <Size>500</Size>
      <Direction>Output</Direction>
    </Parameter>

  </Parameters>
</CommandDef>
