<?xml version="1.0"?>
<!--
  Descripción: Archivo de configuración del conector de 
	Enterprise Library v1.0.0
	Autor: Gabriel Garcia
-->
<CommandDef>
  <Command>
    <BaseDatos>MSSQL</BaseDatos>
    <DbInstance>ConexionBD</DbInstance>
    <Type>CommandType.StoredProcedure</Type>
    <Text>cf.uspReporteSaldosNemotecnicosUDES</Text>
    <NumberOfParameters>8</NumberOfParameters>
    <ReturnType>procedure</ReturnType>
    <CommandTimeout>6000</CommandTimeout>
  </Command>
  <Parameters>


    <Parameter>
      <Name>@Nemotecnico</Name>
      <VariableMapeo>Lstr_Nemotecnico</VariableMapeo>
      <Type>String</Type>
      <Size>10</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@Plazo</Name>
      <VariableMapeo>Lstr_Plazo</VariableMapeo>
      <Type>String</Type>
      <Size>10</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@Propietario</Name>
      <VariableMapeo>Lstr_Propietario</VariableMapeo>
      <Type>String</Type>
      <Size>20</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@CuentaAfectada</Name>
      <VariableMapeo>Lstr_CuentaAfectada</VariableMapeo>
      <Type>String</Type>
      <Size>20</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@FechaDesde</Name>
      <VariableMapeo>Ldt_FechaDesde</VariableMapeo>
      <Type>DateTime</Type>
      <Size>20</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@FechaHasta</Name>
      <VariableMapeo>Ldt_FechaHasta</VariableMapeo>
      <Type>DateTime</Type>
      <Size>20</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>

    <Parameter>
      <Name>@pResultado</Name>
      <Type>String</Type>
      <Size>2</Size>
      <Direction>Output</Direction>
    </Parameter>

    <Parameter>
      <Name>@pMensaje</Name>
      <Type>String</Type>
      <Size>500</Size>
      <Direction>Output</Direction>
    </Parameter>

  </Parameters>
</CommandDef>
