<?xml version="1.0"?>
<!--
  Descripción: Archivo de configuración del conector de 
	Enterprise Library v1.0.0
	Autor: Iliana Sanchez E.
	Fecha: 27-08-2015
-->
<CommandDef>
	<Command>
		<BaseDatos>MSSQL</BaseDatos>
		<DbInstance>ConexionBD</DbInstance>
		<Type>CommandType.StoredProcedure</Type>
		<Text>co.uspCerrarRevelacion</Text>
		<NumberOfParameters>4</NumberOfParameters>
		<ReturnType>procedure</ReturnType>
		<CommandTimeout>6000</CommandTimeout>
	</Command>
    <Parameter>
      <Name>@NumExpediente</Name>
      <VariableMapeo>Lstr_IdExpediente</VariableMapeo>
      <Type>String</Type>
      <Size>30</Size>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@EstadoPretension</Name>
      <VariableMapeo>Lstr_EstadoResolucion</VariableMapeo>
      <Type>Int32</Type>
      <Size>32</Size>
      <Direction>Input</Direction>
    </Parameter>
		<Parameter>
			<Name>@pResultado</Name>
			<Type>String</Type>
			<Size>2</Size>
			<Direction>Output</Direction>
		</Parameter>
		<Parameter>
			<Name>@pMensaje</Name>
			<Type>String</Type>
			<Size>500</Size>
			<Direction>Output</Direction>
		</Parameter>
</CommandDef>