<?xml version="1.0"?>
<CommandDef>
	<Command>
		<BaseDatos>MSSQL</BaseDatos>
		<DbInstance>ConexionBD</DbInstance>
		<Type>CommandType.StoredProcedure</Type>
		<Text>co.uspRegistrarPretencionInicial</Text>
		<NumberOfParameters>12</NumberOfParameters>
		<ReturnType>procedure</ReturnType>
		<CommandTimeout>600000</CommandTimeout>
  </Command>
  <Parameters>
    <Parameter>
      <Name>@pIdExpediente</Name>
      <VariableMapeo>Lstr_IdExpediente</VariableMapeo>
      <Type>String</Type>
      <Size>30</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
      <Parameter>
        <Name>@pSociedad</Name>
        <VariableMapeo>Lstr_Sociedad</VariableMapeo>
        <Type>String</Type>
        <Size>30</Size>
        <Nullable>False</Nullable>
        <Direction>Input</Direction>
      </Parameter>
    <Parameter>
      <Name>@pTipoProceso</Name>
      <VariableMapeo>Lstr_TipoProceso</VariableMapeo>
      <Type>String</Type>
      <Size>100</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pMontoPretension</Name>
      <VariableMapeo>Ldec_MontoPretension</VariableMapeo>
      <Type>Decimal</Type>
      <Size>2</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pMontoPretColones</Name>
      <VariableMapeo>Ldec_MontoPretColones</VariableMapeo>
      <Type>Decimal</Type>
      <Size>2</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pMonedaPretension</Name>
      <VariableMapeo>Lstr_MonedaPretension</VariableMapeo>
      <Type>String</Type>
      <Size>50</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pTipoCambio</Name>
      <VariableMapeo>Ldec_TipoCambio</VariableMapeo>
      <Type>Decimal</Type>
      <Size>2</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pPosibleFecEntRec</Name>
      <VariableMapeo>Ldt_PosibleFecEntRec</VariableMapeo>
      <Type>DateTime</Type>
      <Size>2</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pValorPresente</Name>
      <VariableMapeo>Ldec_ValorPresente</VariableMapeo>
      <Type>Decimal</Type>
      <Size>2</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pEstadoPretension</Name>
      <VariableMapeo>Lint_EstadoPretension</VariableMapeo>
      <Type>Int32</Type>
      <Size>32</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pMontoPosibleReembolso</Name>
      <VariableMapeo>Ldec_MontoPosibleReembolso</VariableMapeo>
      <Type>Decimal</Type>
      <Size>0</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pObservacionesPretension</Name>
      <VariableMapeo>Lstr_ObservacionesPretension</VariableMapeo>
      <Type>String</Type>
      <Size>8000</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pUsrModifica</Name>
      <VariableMapeo>Lstr_UsrModificar</VariableMapeo>
      <Type>String</Type>
      <Size>15</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
		<Parameter>
			<Name>@pResultado</Name>
			<Type>String</Type>
			<Size>2</Size>
			<Direction>Output</Direction>
		</Parameter>
		<Parameter>
			<Name>@pMensaje</Name>
			<Type>String</Type>
			<Size>500</Size>
			<Direction>Output</Direction>
		</Parameter>
	</Parameters>
</CommandDef>