<?xml version="1.0"?>
<!--
  Descripción: Archivo de configuración del conector de 
	Enterprise Library v1.0.0
	Autor: Fabian SolAnno Redondo
	Fecha: 27-08-2015
-->
<CommandDef>
	<Command>
		<BaseDatos>MSSQL</BaseDatos>
		<DbInstance>ConexionBD</DbInstance>
		<Type>CommandType.StoredProcedure</Type>
		<Text>sg.uspConsultarRoles</Text>
		<NumberOfParameters>3</NumberOfParameters>
		<ReturnType>procedure</ReturnType>
		<CommandTimeout>6000</CommandTimeout>
	</Command>
	<Parameters>
		<Parameter>
			<Name>@pIdRol</Name>
			<VariableMapeo>Lint_IdRol</VariableMapeo>
			<Type>Int32</Type>
			<Size>32</Size>
      <Nullable>True</Nullable>
			<Direction>Input</Direction>
		</Parameter>
		<Parameter>
			<Name>@pDescRol</Name>
			<VariableMapeo>Lstr_DescRol</VariableMapeo>
			<Type>String</Type>
			<Size>64</Size>
			<Nullable>True</Nullable>
			<Direction>Input</Direction>
		</Parameter>
		<Parameter>
			<Name>@pResultado</Name>
			<Type>String</Type>
			<Size>2</Size>
			<Direction>Output</Direction>
		</Parameter>
		<Parameter>
			<Name>@pMensaje</Name>
			<Type>String</Type>
			<Size>500</Size>
			<Direction>Output</Direction>
		</Parameter>
	</Parameters>
</CommandDef>