<?xml version="1.0"?>
<!--
	Descripción: Archivo de configuración del conector de 
	Enterprise Library v1.0.0
	Autor: Fabian SolAnno Redondo
	Fecha: 26-08-2015
-->
<CommandDef>
	<Command>
		<BaseDatos>MSSQL</BaseDatos>
		<DbInstance>ConexionBD</DbInstance>
		<Type>CommandType.StoredProcedure</Type>
		<Text>sg.uspConsultarUsuarios</Text>
		<NumberOfParameters>5</NumberOfParameters>
		<ReturnType>procedure</ReturnType>
		<CommandTimeout>6000</CommandTimeout>
	</Command>
	<Parameters>
		<Parameter>
			<Name>@pIdUsuario</Name>
			<VariableMapeo>Lstr_IdUsuario</VariableMapeo>
			<Type>String</Type>
			<Size>32</Size>
			<Nullable>True</Nullable>
			<Direction>Input</Direction>
		</Parameter>
		<Parameter>
			<Name>@pTipoIdUsuario</Name>
			<VariableMapeo>Lstr_TipoIdUsuario</VariableMapeo>
			<Type>String</Type>
			<Size>2</Size>
			<Nullable>True</Nullable>
			<Direction>Input</Direction>
		</Parameter>
		<Parameter>
			<Name>@pIdSociedadGL</Name>
			<VariableMapeo>Lstr_IdSociedadGL</VariableMapeo>
			<Type>String</Type>
			<Size>10</Size>
			<Nullable>True</Nullable>
			<Direction>Input</Direction>
		</Parameter>
		<Parameter>
			<Name>@pNomUsuario</Name>
			<VariableMapeo>Lstr_NomUsuario</VariableMapeo>
			<Type>String</Type>
			<Size>64</Size>
			<Nullable>True</Nullable>
			<Direction>Input</Direction>
		</Parameter>
		<Parameter>
			<Name>@pResultado</Name>
			<Type>String</Type>
			<Size>2</Size>
			<Direction>Output</Direction>
		</Parameter>
		<Parameter>
			<Name>@pMensaje</Name>
			<Type>String</Type>
			<Size>500</Size>
			<Direction>Output</Direction>
		</Parameter>
	</Parameters>
</CommandDef>