<?xml version="1.0"?>
<!--
  Descripción: Archivo de configuración del conector de 
	Enterprise Library v1.0.0
	Autor: Fabian SolAnno Redondo
	Fecha: 26-08-2015
-->
<CommandDef>
	<Command>
		<BaseDatos>MSSQL</BaseDatos>
		<DbInstance>ConexionBD</DbInstance>
		<Type>CommandType.StoredProcedure</Type>
		<Text>sg.uspCrearRolObjeto</Text>
		<NumberOfParameters>11</NumberOfParameters>
		<ReturnType>procedure</ReturnType>
		<CommandTimeout>6000</CommandTimeout>
	</Command>
	<Parameters>
		<Parameter>
			<Name>@pIdRol</Name>
			<VariableMapeo>Lint_IdRol</VariableMapeo>
			<Type>Int32</Type>
			<Size>32</Size>
      <Nullable>False</Nullable>
			<Direction>Input</Direction>
		</Parameter>
		<Parameter>
			<Name>@pIdObjeto</Name>
			<VariableMapeo>Lstr_IdObjeto</VariableMapeo>
			<Type>String</Type>
			<Size>128</Size>
      <Nullable>False</Nullable>
			<Direction>Input</Direction>
		</Parameter>
		<Parameter>
			<Name>@pConsultar</Name>
			<VariableMapeo>Lboo_Consultar</VariableMapeo>
			<Type>Boolean</Type>
			<Size>2</Size>
      <Nullable>False</Nullable>
			<Direction>Input</Direction>
		</Parameter>
    <Parameter>
			<Name>@pInsertar</Name>
			<VariableMapeo>Lboo_Insertar</VariableMapeo>
			<Type>Boolean</Type>
			<Size>2</Size>
      <Nullable>False</Nullable>
			<Direction>Input</Direction>
		</Parameter>
		<Parameter>
			<Name>@pBorrar</Name>
			<VariableMapeo>Lboo_Borrar</VariableMapeo>
			<Type>Boolean</Type>
			<Size>2</Size>
      <Nullable>False</Nullable>
			<Direction>Input</Direction>
		</Parameter>
		<Parameter>
			<Name>@pActualizar</Name>
			<VariableMapeo>Lboo_Actualizar</VariableMapeo>
			<Type>Boolean</Type>
			<Size>2</Size>
      <Nullable>False</Nullable>
			<Direction>Input</Direction>
		</Parameter>
    <Parameter>
			<Name>@pExportar</Name>
			<VariableMapeo>Lboo_Exportar</VariableMapeo>
			<Type>Boolean</Type>
			<Size>2</Size>
      <Nullable>False</Nullable>
			<Direction>Input</Direction>
		</Parameter>
		<Parameter>
			<Name>@pImprimir</Name>
			<VariableMapeo>Lboo_Imprimir</VariableMapeo>
			<Type>Boolean</Type>
			<Size>2</Size>
      <Nullable>False</Nullable>
			<Direction>Input</Direction>
		</Parameter>
		<Parameter>
			<Name>@pUsrCreacion</Name>
			<VariableMapeo>Lstr_UsrCreacion</VariableMapeo>
			<Type>String</Type>
			<Size>32</Size>
      <Nullable>False</Nullable>
			<Direction>Input</Direction>
		</Parameter>
		<Parameter>
			<Name>@pResultado</Name>
			<Type>String</Type>
			<Size>2</Size>
			<Direction>Output</Direction>
		</Parameter>
		<Parameter>
			<Name>@pMensaje</Name>
			<Type>String</Type>
			<Size>500</Size>
			<Direction>Output</Direction>
		</Parameter>
	</Parameters>
</CommandDef>
