<?xml version="1.0"?>
<!--
  Descripción: Archivo de configuración del conector de 
	Enterprise Library v1.0.0
	Autor: Fabian SolAnno Redondo
	Fecha: 26-08-2015
-->
<CommandDef>
	<Command>
		<BaseDatos>MSSQL</BaseDatos>
		<DbInstance>ConexionBD</DbInstance>
		<Type>CommandType.StoredProcedure</Type>
		<Text>sg.uspRegistrarUsuarioFirma</Text>
		<NumberOfParameters>7</NumberOfParameters>
		<ReturnType>procedure</ReturnType>
		<CommandTimeout>6000</CommandTimeout>
	</Command>
	<Parameters>
		<Parameter>
			<Name>@pCedUsuario</Name>
			<VariableMapeo>Lstr_CedUsuario</VariableMapeo>
			<Type>String</Type>
			<Size>32</Size>
      <Nullable>False</Nullable>
			<Direction>Input</Direction>
		</Parameter>
		<Parameter>
			<Name>@pTipoId</Name>
			<VariableMapeo>Lstr_TipoID</VariableMapeo>
			<Type>String</Type>
			<Size>4</Size>
			<Nullable>False</Nullable>
			<Direction>Input</Direction>
		</Parameter>
    <Parameter>
      <Name>@pNombre</Name>
      <VariableMapeo>Lstr_NomUsuario</VariableMapeo>
      <Type>String</Type>
      <Size>64</Size>
      <Nullable>True</Nullable>
      <Direction>Input</Direction>
    </Parameter>
    <Parameter>
      <Name>@pClave</Name>
      <VariableMapeo>Lstr_Clave</VariableMapeo>
      <Type>String</Type>
      <Size>100</Size>
      <Nullable>False</Nullable>
      <Direction>Input</Direction>
    </Parameter>
		<Parameter>
			<Name>@pCorreo</Name>
			<VariableMapeo>Lstr_Correo</VariableMapeo>
			<Type>String</Type>
			<Size>32</Size>
      <Nullable>False</Nullable>
			<Direction>Input</Direction>
		</Parameter>
		<Parameter>
			<Name>@pResultado</Name>
			<Type>String</Type>
			<Size>2</Size>
			<Direction>Output</Direction>
		</Parameter>
		<Parameter>
			<Name>@pMensaje</Name>
			<Type>String</Type>
			<Size>500</Size>
			<Direction>Output</Direction>
		</Parameter>
	</Parameters>
</CommandDef>